@font-face {
    font-family: 'NotoSansCJKkr-DemiLight';
    src: url('../font/NotoSans-DemiLight.otf');
}

@font-face {
    font-family: 'NotoSansCJKkr-Black';
    src: url('../font/NotoSans-Black.otf');
}

@font-face {
    font-family: 'NotoSansCJKkr-Bold';
    src: url('../font/NotoSans-Bold.otf');
}

@font-face {
    font-family: 'NotoSansCJKkr-Light';
    src: url('../font/NotoSans-Light.otf');
}

@font-face {
    font-family: 'NotoSansCJKkr-DemiLight';
    src: url('../font/NotoSans-DemiLight.otf');
}

@font-face {
    font-family: 'NotoSansCJKkr-Medium';
    src: url('../font/NotoSans-Medium.otf');
}

@font-face {
    font-family: 'NotoSansCJKkr-Regular';
    src: url('../font/NotoSans-Regular.otf');
}

@font-face {
    font-family: 'NotoSansCJKkr-Thin';
    src: url('../font/NotoSans-Thin.otf');
}

html, body {
    padding: 0;
    margin: 0;
    font-family: "NotoSansCJKkr-DemiLight";
    color: #333;
    min-width: 1200px;
}

:root {
    --mimi-color-primary: #ea5916;
    --mimi-color-gray: #a4a4a4;
}

/*-------------------이벤트 내용이 이곳에 출력됩니다. [상세보기]-------------------------*/
.noti-top {
    height: 40px;
    display: block;
    width: 100%;
    z-index: 100;
    text-decoration: none;
    outline: none;
}

/*-------------------------------------------------------------------------------------*/
::-ms-clear {
    display: none;
}

a[href^="tel"] {
    color: inherit;
    text-decoration: none;
}

section.mimi-body {
    min-height: 800px;
    padding-bottom: 30px;
}

.mimi-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

header.mimi-header {
    box-shadow: 0px 4px 4px 0px #eee;
    width: 100%;
    top: 40px;
    z-index: 1021;
    background-color: white;
}

header.mimi-header .header-wrap {
    display: table;
    height: 120px;
    width: 100%;
}

header.mimi-header .header-wrap > * {
    display: table-cell;
    vertical-align: middle;
}

header.mimi-header a.mimi-logo {
    width: 255px;
}

header.mimi-header .search-box {
    width: 590px;
    position: relative;
}

header.mimi-header .search-box input {
    width: 560px;
    height: 38px;
    border: 4px solid #f98752;
    border-radius: 40px;
    padding-left: 20px;
    outline: none;
}

header.mimi-header .search-box button {
    background: url(../images/ic_search_orange.png) no-repeat 10px 10px;
    width: 40px;
    height: 40px;
    border: none;
    position: absolute;
    right: 20px;
    top: 37px;
    cursor: pointer;
    outline: none;
}

header.mimi-header .main-menu ul {
    padding: 0;
    list-style: none;
    display: table;
    text-align: center;
    float: right;
}

header.mimi-header .main-menu > ul > li {
    display: table-cell;
    min-width: 60px;
    padding-left: 20px;
    font-size: 14px;
}

header.mimi-header .main-menu ul > li a {

    padding-top: 30px;
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    font-family: "NotoSansCJKkr-Medium";
    font-size: 16px;
}

.main-top-menu ul {
    list-style: none;
    display: table;
    text-align: center;
    float: right;
    padding: 0;
}

.main-top-menu > ul > li {
    display: table-cell;
    min-width: 60px;
    padding-left: 20px;
    font-size: 14px;
}

.main-top-menu ul > li a {

    padding-top: 30px;
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    font-family: "NotoSansCJKkr-Medium";
    font-size: 16px;
}

header.mimi-header .main-menu > ul > li:nth-child(1) > a {
    background: url(../images/ic_menu_top_bar.png) no-repeat 50% 2px;
}

header.mimi-header .main-menu > ul > li:nth-child(1).active > a {
    background: url(../images/ic_menu_top_bar_red.png) no-repeat 50% 2px;
}

header.mimi-header .main-menu > ul > li:nth-child(2) > a {
    background: url(../images/ic_oos_top_bar.png) no-repeat 50% 0;
}

header.mimi-header .main-menu > ul > li:nth-child(2).active > a {
    background: url(../images/ic_oos_top_bar_red.png) no-repeat 50% 0;
}

header.mimi-header .main-menu > ul > li:nth-child(3) > a {
    background: url(../images/ic_lock_top_bar.png) no-repeat 50% 0;
}

header.mimi-header .main-menu > ul > li:nth-child(3).active > a {
    background: url(../images/ic_lock_top_bar_red.png) no-repeat 50% 0;
}

header.mimi-header .main-menu > ul > li:nth-child(4) > a {
    background: url(../images/ic_cart_top_bar.png) no-repeat 50% 2px;
}

header.mimi-header .main-menu > ul > li:nth-child(4).active > a {
    background: url(../images/ic_cart_top_bar_red.png) no-repeat 50% 2px;
}

header.mimi-header .main-menu ul > li > a:hover {
    opacity: 0.8;
}

header.mimi-header .main-menu ul > li.active > a {
    color: #e32b2b;
}

.login-body h1 {
    margin-top: 30px;
    margin-bottom: 0px;
}

div.mimi-row {
    display: table;
    width: 100%;
    margin-top: 10px;
}

.mimi-row .login-input {
    display: table-cell;
    padding-right: 10px;
    width: 300px;
    vertical-align: top;
}

.mimi-row .login-input > .mimi-input-group {
    margin-bottom: 10px;
}

.mimi-row a.btn-login {
    background-color: #333;
    color: #fff;
    height: 120px;
    font-size: 16px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.mimi-row > * {
    display: table-cell;
    outline: none;
}

.join-link {
    text-align: right;
    color: #8c8c8c;
}

.links a {
    text-decoration: none;
    color: #8c8c8c;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-60 {
    margin-top: 60px !important;
}

.margin-50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.txt-red {
    font-size: 14px;
    color: #ea1616;
    font-family: "NotoSansCJKkr-Light"
}

hr {
    margin-top: 20px;
    border: none;
    background: none;
    border-bottom: 1px solid #cfcfcf;
}

.h1-sns {
    vertical-align: middle;
    font-size: 24px;
    font-family: "NotoSansCJKkr-DemiLight";
    color: #333333;
}

div.sns-links {
    width: 50%;
}

div.sns-links > a {
    width: 32%;
    border: none;
    padding: 65px 0px 0px 0px;
    outline: none;
    cursor: pointer;
}

div.sns-links > a.btn-kakao {
    background: url(../images/ic_kakao_talk.png) no-repeat 50% 0 transparent;
    background-size: 60px 60px;
}

div.sns-links > a.btn-neighbour {
    background: url(../images/ic_neighbour.png) no-repeat 50% 0 transparent;
    background-size: 60px 60px;
}

div.sns-links > a.btn-facebook {
    background: url(../images/ic_facebook.png) no-repeat 50% 0 transparent;
    background-size: 60px 60px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

footer .footer-top {
    position: relative;
    width: 100%;
    background-color: #2b2d2e;
}

footer .footer-top a,
footer .footer-menu .align-left {
    color: #fff;
    font-family: "NotoSansCJKkr-Medium";
    font-size: 14px;
    text-decoration: none;
}

footer .footer-menu,
footer .footer-bottom > div > div {
    height: 70px;
    display: table;
    width: 100%;
}

footer .footer-menu > div.align-left,
footer .footer-menu > div.align-right {
    display: table-cell;
    vertical-align: middle;
}

footer .footer-menu .align-right {
    text-align: right;
}

footer .footer-menu .align-right > a {
    margin-left: 8px;
}

footer .footer-bottom {
    width: 100%;
    background-color: #1d1f20;
}

footer .footer-bottom span {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-size: 14px;
    font-family: "NotoSansCJKkr-Light";
}

/* Input Style ==============================================================================================*/
.mimi-input-group {
    display: table;
    width: 100%;
    height: 55px;
}

.mimi-input-group > div.mimi-input, button {
    display: table-cell;
}

.mimi-input-group > div.mimi-input {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    background-color: #fafafa;
}

.mimi-input > input {
    width: 100%;
    height: 100%;
    text-indent: 18px;
    font-size: 16px;
    color: #333;
    background-color: transparent;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.mimi-input > textarea {
    width: 100%;
    height: 100%;
    padding: 10px 18px;
    font-size: 16px;
    color: #333;
    background-color: transparent;
    border: none;
    outline: none;
    box-sizing: border-box;
    min-height: 130px;
    margin: 0;
}


.mimi-input span.helper {
    font-family: "NotoSansCJKkr-Light";
    position: absolute;
    right: 15px;
    top: 16px;
    font-size: 13px;
    color: #ea5916;
}

.mimi-input-group > *:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.mimi-input-group > *:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.mimi-input-group > button {
    width: 135px;
    height: 100%;
    font-size: 16px;
    background-color: #4e4e4e;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.join-btn {
    width: 135px;
    height: 100%;
    font-size: 16px;
    color: white;
    background-color: #4e4e4e;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.join-btn:hover {
    opacity: 0.8;
}

.mimi-default-btn {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
}

/* ===========================================================================================================*/

/* Select Style ==============================================================================================*/

.mimi-input-group.mimi-select > .mimi-input {
    padding-right: 10px;
    background: url(../images/ic_arrow_down.png) no-repeat 100% #fafafa;
    background-origin: content-box;
    border-radius: 4px;
}

.mimi-input-group.mimi-select input {
    cursor: pointer;
}

.mimi-input-group.mimi-select {
    position: relative;
}

.mimi-input-group.mimi-select > .drop-list {
    display: none;
    position: absolute;
    left: 0px;
    top: 57px;
    z-index: 10;
    border-radius: 5px;
    background-color: #fafafa;
    padding: 7px 0;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    /*max-height: 128px;*/
    overflow-y: scroll;
}

.mimi-input-group.mimi-select > .drop-list > ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.mimi-input-group.mimi-select > .drop-list li {
    height: 34px;
    margin-bottom: 6px;
    cursor: pointer;
}

.mimi-input-group.mimi-select > .drop-list li a {
    font-size: 16px;
    padding: 3px 13px 0;
    height: 100%;
    display: block;
    line-height: 34px;
    text-decoration: none;
    outline: none;
    color: #333;
}

.dropdown-toggle {
    position: relative;
}

.dropdown-toggle > .dropdown {
    display: none;
    position: absolute;
    left: 0px;
    z-index: 10;
    border-radius: 5px;
    background-color: white;
    padding: 7px 0;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    /*max-height: 128px;*/
    min-width: 120px;
    /*overflow-y: scroll;*/
}

.dropdown > li > a {
    padding-top: 8px !important;
    padding-bottom: 8px;
}

.mimi-input-group.mimi-select > .drop-list li a:hover {
    background: #e3eaf2;
}

.mimi-input-group.mimi-select > .drop-list::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
}

/*============================================================================================================*/

/* Switch Style ==============================================================================================*/
.mimi-switch {
    display: table;
    height: 50px;
    border: 1px solid #ea5916;
    border-radius: 4px;
}

.mimi-switch a {
    display: table-cell;
    height: 100%;
    width: 140px;
    vertical-align: middle;
    text-align: center;
    color: #9b9a9a;
    cursor: pointer;
}

.mimi-switch a.on {
    background-color: #ea5916;
    color: #fff;
}

/*============================================================================================================*/

/* Button Style ==============================================================================================*/
.mimi-body button:hover,
.mimi-body button:active,
.mimi-body button:visited {
    opacity: 0.9;
    cursor: pointer;
}

.mimi-btn {
    font-family: "NotoSansCJKkr-Regular";
    font-size: 20px;
    width: 100%;
    height: 70px;
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}

.mimi-btn mimi-default-btn {
	padding: 10px 0;
}

.mimi-btn > span {font-size: 28px; line-height: 28px;}

.product_notice {
	color: #FF0004;
	font-size: 13px;
	margin-top: 10px;
}

.btn-black {
    background-color: #333;
}

.btn-orange {
    background-color: #ea5916;
}

.btn-red {
    background-color: #d32626;
}

.btn-green {
    background-color: #26a08a;
}

/* ===========================================================================================================*/

/* Checkbox Style ============================================================================================*/
/*label.mimi-checkbox {*/
/*display: block;*/
/*position: relative;*/
/*text-indent: 30px;*/
/*font-size: 16px;*/
/*color: #8c8c8c;*/
/*}*/
/*label.mimi-checkbox > input[type="checkbox"] {*/
/*position: absolute;*/
/*top: 1px;*/
/*left: 0;*/
/*}*/
/*label.mimi-checkbox input[type="checkbox" i] {*/
/*-webkit-appearance: inherit;*/
/*margin: 0px;*/
/*border: 1px solid #ddd;*/
/*border-radius: 4px;*/
/*background-color: #fff;*/
/*width: 22px;*/
/*height: 22px;*/
/*outline:  none;*/
/*}*/
/*label.mimi-checkbox input:checked[type="checkbox" i]:before {*/
/*content: '✔';*/
/*font-size: 20px;*/
/*color: #ea5916;*/
/*position: absolute;*/
/*top: -5px;*/
/*left: 2px;*/
/*font-weight: bold;*/
/*opacity: 0.8;*/
/*}*/
/* ===========================================================================================================*/

/* mimi-form Style ============================================================================================*/
.mimi-input-form {
    width: 440px;
    margin: auto;
}

.form-header {
    text-align: center;
    padding-bottom: 20px;
}

.form-header > * {
    margin: 0px;
}

.form-header h1 {
    font-size: 60px;
    color: #ea5916;
    padding-top: 150px;
}

.form-header h1.login-h1 {
    background: url(../images/ic_user.png) no-repeat 50% 100px;
}

.form-header h1.find-h1 {
    background: url(../images/ic_lock_off.png) no-repeat 50% 100px;
}

.form-header h1.join-h1 {
    background: url(../images/ic_pencil.png) no-repeat 50% 100px;
}

.mimi-input-form .form-body h1 + p {
    font-family: "NotoSansCJKkr-Thin";
    margin-top: -20px;
    font-size: 13.5px;
    color: #a6a6a6;
    margin-bottom: 30px;
}

.mimi-row .email-atmark {
    width: 50px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.mimi-input-form .form-body h1 {
    margin-top: 30px;
}

.mimi-input-form .mimi-row .mimi-box {
    border: 1px solid #e4e4e4;
    padding: 20px;
}

.icheckbox_square-orange {
    margin-top: -3px !important;
    margin-right: 5px !important;

}

.mimi-checkbox {
    color: #8c8c8c;
}

.mimi-checkbox.delivery {
    color: #505050;
    font-size: 13px;
    font-family: "NotoSansCJKkr-DemiLight";
}

.page-path {
    margin-top: 35px !important;
    margin-bottom: 35px;
    font-family: "NotoSansCJKkr-Light";
    font-size: 13px;
}

.page-path > span > a {
    text-decoration: none;
    color: #333;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.margin-top-60 {
    margin-top: 60px !important;
    margin-bottom: 0px;
}

.margin-top-15 {
    margin-top: 15px !important;
    margin-bottom: 0px;
}

.margin-top-0 {
    margin-top: 0px !important;
}

.align-top {
    vertical-align: top;
}

.mimi-inline-btn {
    border: 1px solid #a7a7a7;
    color: #8c8c8c;
    font-size: 12px;
    text-decoration: none;
    padding: 2.5px 10px;
}

.mimi-inline-btn:hover {
    background-color: #a7a7a7;
    color: white;
    transition: all 0.2s ease-in-out;
}

.datepicker.dropdown-menu {
    padding: 5px;
    box-shadow: 5px 5px rgba(102, 102, 102, .1);
    border: 1px solid #efefef;
}

.dropdown-menu {
    box-shadow: 5px 5px rgba(102, 102, 102, .1);
    left: 0;
    min-width: 175px;
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    list-style: none;
    text-shadow: none;
    padding: 0;
    background-color: #fff;
    margin: 10px 0 0;
    border: 1px solid #eee;
    font-family: "NotoSansCJKkr-Regular";
    border-radius: 4px;
}

.hidden {
    display: none !important;
}

.col_md_10p {
    display: table;
    width: 10% !important;
}

.col_md_20p {
    display: table;
    width: 20% !important;
}

.ml-40p {
    margin-left: 40%;
}

.ml-45p {
    margin-left: 45%;
}

.ml-5p {
    margin-left: 5%;
}

.col_md_70p {
    display: table;
    width: 70% !important;
}

.color-orange {
    color: #ea5916 !important;
}

.color-black {
    color: #333 !important;
}

.mimi-company-info p {
    color: #cccccc;
    font-size: 14px;
    font-family: "NotoSansCJKkr-Light";
    margin: 0;
}

.toast-message a.btn-toast {
    margin-left: 10px;
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px solid white;
}

.toast-message a.btn-toast:hover {
    background-color: white;
    color: #f89406;
}

#buy_real_money.active {
    color: #EA5916;
}

#buy_real_money.active:before {
    content: '';
    background: url("../images/ico_radio_on.png") no-repeat center;
    background-size: 24px auto;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#bidding_agree {
    display: flex;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #EFEFEF;
    align-items: center;
    padding: 10px 0;
    margin-top: 15px;
    font-size: 14px;
    color: #6f6f6f;
}

.chicken-help {
    width: 23px;
    height: 23px;
    vertical-align: middle;
    cursor: pointer;
}

.popup-chicken-help {
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.25);
    opacity: 0.8;
    font-family: 'NotoSansCJKkr-Medium';
    font-size: 16px;
    color: #5f5f5f;
    padding: 16px;
    position: absolute;
    left: 145px;
    top: calc(100% + 10px);
    z-index: 10;
    background-color: white;
}

.popup-chicken-help span {
    color: #e45b1b;
}

.oneline {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ellipsis {
    overflow: hidden;
    position: relative;
    /*text-align: justify;*/
    margin-right: 1em;
    padding-right: 1em;
}

.ellipsis:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}

.ellipsis:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}

#bidding_agree input[type="checkbox"] {
    display: none;
}

#bidding_agree input[type="checkbox"] + i {
    display: inline-block;
    width: 60px;
    min-width: 60px;
    height: 24px;
    background: url(../images/ic_notify_checkbox_off.png) no-repeat center;
    background-size: 24px 24px;
    vertical-align: middle;
    transition: 0.2s linear;
}

#bidding_agree input[type="checkbox"]:checked + i {
    background: url(../images/ic_notify_checkbox_on.png) no-repeat center;
    background-size: 24px 24px;
    transition: 0.2s linear;
}
