.mypage-menu {
    width: 240px;
}

.mypage-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #d8d7d7;
    border-top: none;
}

.mypage-menu ul > li {
    position: relative;
    cursor: pointer;
}

.mypage-menu ul > li > a {
    text-align: left;
    display: block;
    padding: 11px 0;
    margin: 0 15px;
    font-size: 18px;
    color: #333333;
    font-family: "NotoSansCJKkr-Medium";
    border-bottom: 1px solid #f0f0f0;
}

.mypage-menu ul > li.active > a {
    color: #ea5916;
}

.mypage-menu ul > li > a > img {
    position: absolute;
    right: 15px;
    top: 20px;
}

.mypage-row {
    display: inline-block;
    width: 100%;
}

.mypage-row > * {
    outline: none;
    float: left;
}

.mypage-title {
    font-size: 40px;
    color: #333333;
    margin-bottom: 5px;
    font-family: "NotoSansCJKkr-Medium";
}

.profile-title {
    color: #333333;
    font-size: 24px;
    font-family: "NotoSansCJKkr-Medium";
    position: relative;
}

.mypage-body {
    margin-left: 280px;
    width: 920px;
    min-height: 400px;
}

.profile-pad {
    padding: 0;
    background-color: #f8f8f8;
    height: 380px;
}

.profile-edit-pad {
    margin: 30px 30px 40px 30px;
    padding: 30px;
    border-radius: 9px;
    background: white;
    height: 120px;
    width: 800px;
}

.mypage-edit {
    color: #ea5916;
    font-size: 13px;
    font-family: "NotoSansCJKkr-DemiLight";
}

/*.profile-edit {
    position: absolute;
    right: -35px;
    bottom: -5px;
}*/

.pull-right {
    float: right;
}

.btn {
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.btn-th {
    color: #ea5916;
    font-family: "NotoSansCJKkr-DemiLight";
    font-size: 12px;
}

.btn-dark {
    /*transition: 0.3s;*/
    padding: 6px 16px 8px 16px;
    color: white;
    background-color: #333333;
    /*border: 1px solid #333333;*/
    font-family: "NotoSansCJKkr-Regular";
    font-size: 16px;
    border-radius: 0;
}

.btn-dark.total {
    padding: 6px 18px 8px 18px;
    font-size: 18px;
}

.btn-share {
    font-size: 12px;
    font-family: "NotoSansCJKkr-Medium";
    color: #333333;
    padding: 5px 15px;
    border-radius: 14px;
    border: 1px solid #bdbdbd;
}

.btn-share > i {
    color: #ea5916;
}

.holding-label {
    color: #333333;
    font-size: 20px;
    font-family: "NotoSansCJKkr-Regular";
}

.holding-content {
    font-size: 20px;
    font-family: "NotoSansCJKkr-Regular";
    color: #ea5916;
}

.holding-content > span {
    color: red;
}

.mypage-table {
    border-top: 3px solid #333333;
    border-bottom: 2px solid #333333;
    width: 100%;
    border-spacing: 0;
}

.mypage-table > thead > tr > th {
    font-size: 13px;
    color: black;
    font-family: "NotoSansCJKkr-DemiLight";
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.mypage-table > tbody > tr > td {
    border-top: 1px solid #e4e4e4;
    font-size: 13px;
    color: black;
    font-family: "NotoSansCJKkr-DemiLight";
    text-align: center;
    vertical-align: middle;
    padding: 15px;
}

td > span {
    color: red;
}

.mypage-table > tbody > tr > td:first-child {
    width: 120px;
    padding: 15px 0;
}

.mypage-table > tbody > tr > td:nth-child(2) {
    font-size: 16.68px;
    color: #333333;
    font-family: "NotoSansCJKkr-DemiLight";
    text-align: left;
    vertical-align: middle;
    padding: 15px;
    width: 180px;
    box-sizing: border-box;
    letter-spacing: -0.5px;
    line-height: 20px;
}

.mypage-table > tbody > tr > td > img {
    width: 120px;
    height: 110px;
    border: 1px solid #f8f8f8;
}

.mypage-table > tfoot > tr {
    background: #f8f8f8;
}

.mypage-table > tfoot > tr > td:first-child {
    text-align: left;
}

.mypage-table > tfoot > tr > td {
    font-size: 13px;
    color: black;
    font-family: "NotoSansCJKkr-DemiLight";
    padding: 15px 10px;
    text-align: center;
}

.mypage-table td a.modify-a {
    font-size: 11px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 4px 12px;
    line-height: 30px;
    border-radius: 15px;
}

.mypage-table td a.remove-a {
    font-size: 11px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    background-color: #ea5916;
    color: white;
    padding: 4px 12px;
    line-height: 30px;
    border-radius: 15px;
}

.profile-label {
    font-size: 18px;
    font-family: "NotoSansCJKkr-DemiLight";
}

.profile-label-content {
    font-size: 24px;
    font-family: "NotoSansCJKkr-Medium";
}

.profile-label-content.nickname {
    padding-left: 25px;
    background: url(../images/ic_profile_nickname.png) no-repeat 0 50%;
}

.card-content {
    font-family: "NotoSansCJKkr-DemiLight";
    font-size: 14px;
    color: #a0a0a0;
}

label.btn-radio {
    position: relative;
    cursor: pointer;
}

label.btn-radio.card-type > input[type="radio"] + span {
    font-size: 14px;
    font-family: "NotoSansCJKkr-Medium";
    color: black;
    border: 1px solid #d0d0d0;
    margin-right: 5px;
    width: 170px;
}

label.btn-radio.card-type > input[type="radio"]:checked + span {
    border: 1px solid #333333;
}

.sell-penalty-pad {
    padding-top: 40px;
    padding-left: 40px;
    height: 220px;
    width: 800px;
    margin-top: 45px;
    border: 1px solid #ebebeb;
}

label.btn-radio.first > input[type="radio"] + span {
    border-radius: 5px 0 0 5px;
}

label.btn-radio.last > input[type="radio"] + span {
    border-radius: 0 5px 5px 0;
}

label.btn-radio > input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label.btn-radio > input[type="radio"] + span {
    transition: 0.2s;
    display: inline-block;
    font-size: 16px;
    font-family: "NotoSansCJKkr-Regular";
    border: 1px solid #333333;
    background-color: white;
    color: #9b9a9a;
    width: 140px;
    height: 35px;
    padding-top: 15px;
    text-align: center;
}

label.btn-radio > input[type="radio"]:checked + span {
    transition: 0.2s;
    background-color: #333333;
    color: white;
}

label.notify-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
}

label.notify-checkbox > input[type="checkbox"] {
    opacity: 0;
}

label.notify-checkbox > input[type="checkbox"] + i {
    transition: 0.2s;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: -20px;
    margin-right: 15px;
    background: url(../images/ic_notify_checkbox_off.png) no-repeat;
    width: 30px;
    height: 30px;
}

label.notify-checkbox > input[type="checkbox"]:checked + i {
    transition: 0.2s;
    background: url(../images/ic_notify_checkbox_on.png) no-repeat;
}

hr {
    margin-top: 15px;
    border: none;
    background: none;
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
}

.mini-board-label {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    background-color: #333333;
    font-size: 16px;
    color: #ffffff;
    font-family: "NotoSansCJKkr-Regular";
    margin-bottom: 0px;
    display: block;
}

label, input, button, select, textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.mimi-board-tabs {
    display: table;
    width: 100%;
}

.board-label {
    width: 15%;
    float: left;
}

.board-tabs {
    width: 85%;
    float: left;
}

.board-tabs .mimi-nav-tabs li.active {
    background: transparent none repeat scroll 0px 0px;
    border-bottom: 2px solid #ea5916;
    position: relative;
}

.board-tabs .mimi-nav-tabs li.active a {
    border: 0px none;
    color: #ea5916;
    background: transparent none repeat scroll 0px 0px !important;
}

.board-tabs .mimi-nav-tabs li a {
    background: transparent none repeat scroll 0px 0px !important;
    border: 0px none;
    color: #505050;
}

.board-tabs .mimi-nav-tabs {
    border: medium none;
    margin: 0px;
}

.mimi-nav-tabs li {
    border-bottom: 4px solid transparent;
    float: left;
    display: block;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}

.mimi-nav {
    padding-left: 0px;
    list-style: outside none none;
}

.mimi-nav-tabs li {
    float: left;
    display: block;
}

.mimi-nav li a {
    position: relative;
    display: block;
    text-decoration: none;
    padding-top: 13px;
    padding-bottom: 5px;
}

.board-align-left {
    color: #505050;
    font-family: "NotoSansCJKkr-DemiLight";
    font-size: 15px;
    padding-left: 30px;
    text-decoration: none;
}

.mimi-board-content {
    display: table;
    width: 94%;
    float: left;
    padding: 40px;
    margin-top: 30px;
    background: #f8f8f8;
}

.board-content {
    width: 100%;
    float: left;
    height: 820px;
    background: #ffffff;
}
.board-content hr {
    width: 95%;
}

.board-title {
    color: #ea5916;
    font-family: "NotoSansCJKkr-Bold";
    font-size: 30px;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
}

.board-subname {
    color: #333333;
    font-family: "NotoSansCJKkr-DemiLight";
    font-size: 16px;
    float: right;
    margin-right: 30px;
    margin-top: 45px;
}

.board-content-line {
    margin-top: 10px !important;
    margin-bottom: 0px;
    margin-left: 32px;
    margin-right: 30px;
    border-width: 1px 0px;
    border-style: dotted;
    border-color: #d2d2d2;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.board-content > .board-pan {
    display: none;
}

.board-content > .active {
    display: block;
}

/*h1 {*/
/*font-size: 38.5px;*/
/*}*/
/*h1, h2, h3 {*/
/*line-height: 40px;*/
/*}*/
/*h1, h2, h3, h4, h5, h6 {*/
/*margin: 10px 0px;*/
/*font-family: inherit;*/
/*font-weight: bold;*/
/*line-height: 20px;*/
/*color: inherit;*/
/*text-rendering: optimizelegibility;*/
/*}*/

.faq-header h1 {
    font-size: 60px;
    color: #ea5916;
    padding-top: 155px;
    font-family: "NotoSansCJKkr-Medium";
}

.faq-header h1.join-faq {
    background: url(../images/ic_search_faq.png) no-repeat 50% 60px;
    background-size: 70px auto;
    margin-bottom: 30px;
    margin-top: 5px;
}

.faq-group {
    margin: auto;
    text-align: center;
}

.faq-header p {
    font-size: 20px;
    color: #333333;
    font-family: "NotoSansCJKkr-DemiLight";
    margin-top: 15px;
}

.accordeon-entry {
    margin-bottom: 15px;
}

.accordeon-entry:last-child {
    margin-bottom: 0px;
}

.faq-search button {
    background: url(../images/ic_search_orange.png) no-repeat 10px 10px;
    width: 40px;
    height: 40px;
    border: none;
    position: absolute;
    right: 8px;
    top: 4px;
    cursor: pointer;
    outline: none;
}

.accordeon-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.faq-list-line {
    height: 20px;
    width: 100%;
    background-color: #f8f8f8;
}

.faq-category {
    background-color: #f8f8f8;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.faq-category ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.faq-category ul > li {
    background-color: #9e9e9e;
    color: white;
    border: 1px solid #f8f8f8;
    border-collapse: collapse;
    float: left;
    width: 200px;
    height: 60px;
    font-size: 18px;
    line-height: 60px;
    cursor: pointer;
}

.faq-category ul > li.active {
    background-color: #ea5916;
}

.accordeon-entry h5 {
    background-color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    color: #3c3c3c;
    font-weight: 700;
    line-height: 15px;
    padding: 20px 55px 20px 20px;
    cursor: pointer;
    position: relative;
    margin-bottom: 0px;
    z-index: 1;
}

/*.accordeon-entry h5 button:after{width: 23px; height: 23px; content: "+"; position: absolute; right: 15px; top: 15px; font-size: 16px; line-height: 23px; color: #fff; text-align: center;}*/
.accordeon-entry h5 .toggle-drop-img {
    background: url("../images/ic_drop_up.png") no-repeat 0px 0px;
    width: 23px;
    height: 20px;
    border: none;
    position: absolute;
    right: 8px;
    top: 10px;
    cursor: pointer;
    outline: none;
}

/*.accordeon-entry.active h5, .accordeon-entry h5:hover{background: #ff6600; color: #fff;}*/
/*.accordeon-entry.active h5:after{width: 23px; height: 23px; background-color: #fff; content: "-"; color: #fff; border-color: transparent; line-height: 22px;}*/
.accordeon-entry.active h5 .toggle-drop-img {
    background: url("../images/ic_drop_down.png") no-repeat 0px 0px;
    width: 23px;
    height: 20px;
    border: none;
    position: absolute;
    right: 8px;
    top: 10px;
    cursor: pointer;
    outline: none;
}

.accordeon-entry h5:active:after {
    transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
}

.accordeon-entry .toggle-content {
    border-radius: 5px;
    height: 0;
    padding: 0px;
    background-color: #fff;
    font-size: 12px;
    line-height: 24px;
    position: relative;
    visibility: hidden;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
}

.accordeon-entry.active .toggle-content {
    visibility: visible;
    height: auto;
}

.switch-container {
    display: none;
}

.acc-body li {
    font-size: 12px;
}

.acc-body p {
    font-size: 16px;
    font-family: "NotoSansCJKkr-DemiLight"
}

.accordeon-wrap {
    padding: 16px 50px;
    display: block;
    text-align: left
}

.accordeon-wrap p {
    color: #333333;
    font-size: 16px;
    font-family: "NotoSansCJKkr-DemiLight"
}

.accordeon-wrapper.style-2 .accordeon-entry h5:after {
    border-radius: 50%;
}

.accordeon-wrapper.style-2 .accordeon-entry h5 {
    border-radius: 5px;
}

.accordeon-entry h5 {
    font-size: 12px;
    padding: 13px 55px 13px 20px;
    margin-bottom: 0px;
}

.accordeon-entry h5:after {
    top: 10px;
}

/*.accordeon-entry.active h5, body[data-color="theme-1"] .accordeon-entry h5:hover {background: #ff6600;}*/
/*.accordeon-entry h5:after {background: #ff6600;}*/

.mimi-faq-content {
    display: table;
    width: 94%;
    float: left;
    padding: 10px 40px 20px 40px;
    margin-top: 30px;
    background: #f8f8f8;
}

.faq-content {
    width: 100%;
    float: left;
    background: #ffffff;
    margin: auto;
}

.faq-margin-top-0 {
    margin-top: 0px !important;
    border-style: dotted;
    border-width: 1px 0px;
    border-color: #EEE -moz-use-text-color #FFF;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.mimi-info-banner {
    position: relative;
    min-width: 1200px;
    min-height: 990px;
    text-align: center;
}

.background-block {
    background-size: cover;
    background-position: center center;
}

.color-white {
    color: #ffffff;
}

.info-vertical-align {
    top: 80px;
    position: absolute;
    width: 100%;
    left: 0px;
}

.info-vertical-align p.color-white {
    font-family: NotoSansCJKkr-DemiLight;
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: 13px;
    line-height: 20px;
}

.info-vertical-align p.color-white-16 {
    font-family: NotoSansCJKkr-DemiLight;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 30px;
    line-height: 20px;
}

.info-vertical-align p.color-white-16-medium {
    font-family: NotoSansCJKkr-DemiLight;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 5px;
    line-height: 20px;
}

.info-vertical-align p.color-white-16-medium span {
    font-family: NotoSansCJKkr-Bold;
    font-size: 16px;
    color: #ea5916;
    line-height: 20px;
}

.info-vertical-align .title-line {
    width: 100px;
    height: 8px;
    background-color: #ffffff;
    margin: auto;
}

.mimi-info-video-banner {
    position: relative;
    min-width: 690px;
    min-height: 390px;
    text-align: center;
    margin: auto;
}

.video-block {
    background-size: cover;
    background-position: center center;
}

p {
    margin: 0px 0px 10px;
}

.mimi-info-notice {
    position: relative;
    width: 100%;
    min-height: 650px;
    text-align: center;
    background-color: #f8f8f8;
    min-width: 1200px;
}

.notice-black {
    font-family: "NotoSansCJKkr-Medium";
    font-size: 43px;
    color: #333333;
    line-height: 20px;
    margin-bottom: 40px;
}

.title-line-black {
    width: 100px;
    height: 8px;
    background-color: #333333;
    margin: auto;
}

.notice-content {
    display: table;
    margin: auto;
    margin-top: 60px;
}

.notice-md-2 {
    margin-right: 60px;
    width: 350px;
    float: left;
}

.notice-md-3 {
    margin-left: 60px;
    width: 350px;
    float: left;
}

.notice-md-1 {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    float: left;
}

.notice-circle-img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background-color: #fff;
    position: relative;
    margin: auto;
}

.notice-circle-img .notice-fast-img {
    position: absolute;
    width: 100px;
    height: 96px;
    top: 76px;
    right: 100px;
}

.notice-circle-img .notice-kind-img {
    position: absolute;
    width: 100px;
    height: 90px;
    top: 89px;
    right: 100px;
}

.notice-circle-img .notice-price-img {
    position: absolute;
    width: 107px;
    height: 89px;
    top: 80px;
    right: 96px;
}

.notice-circle-img .notice-fast-label {
    font-size: 30px;
    font-family: "NotoSansCJKkr-Medium";
    color: #000;
    position: absolute;
    bottom: 70px;
    right: 57px;
    margin-bottom: 0px;
}

.notice-circle-img .notice-fast-label span {
    font-size: 30px;
    font-family: "NotoSansCJKkr-Medium";
    color: #ea5916;
}

.notice-fast-content {
    font-size: 16px;
    font-family: "NotoSansCJKkr-Regular";
    color: #3d3d3d;
    margin-top: 25px;
    margin-bottom: 0px;
}

.notice-fast-content-two {
    font-size: 16px;
    font-family: "NotoSansCJKkr-Regular";
}

.info-marin-top-90 {
    margin-top: 90px;
    font-size: 34px;
    font-family: "NotoSansCJKkr-Medium";
    color: #333333;
}

.info-marin-top-50 {
    margin-top: 50px;
    font-size: 34px;
    font-family: "NotoSansCJKkr-Medium";
    color: #333333;
}

.mimi-buy-content {
    display: table;
    background-color: #f8f8f8;
    width: 100%;
}

.info-buy-content {
    width: 100%;
    margin-top: 25px;
}

.info-row {
    width: 90%;
    display: table;
    padding: 30px 50px;
    vertical-align: middle;
}

.buy-circle-img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #f39c33;
    position: relative;
    float: left;
}

.buy-circle-img-green {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #2a8d70;
    position: relative;
    float: left;
}

.buy-circle-img .buy-tender-img {
    position: absolute;
    width: 60px;
    height: 45px;
    top: 25px;
    right: 20px;
}

.buy-circle-img .buy-find-img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 25px;
    right: 25px;
}

.buy-circle-img .buy-send-img {
    position: absolute;
    width: 50px;
    height: 40px;
    top: 30px;
    right: 25px;
}

.buy-circle-img-green .buy-sale-img {
    position: absolute;
    width: 52px;
    height: 50px;
    top: 25px;
    right: 24px;
}

.buy-circle-img-green .buy-find-img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 25px;
    right: 25px;
}

.buy-circle-img-green .buy-payment-img {
    position: absolute;
    width: 58px;
    height: 48px;
    top: 26px;
    right: 21px;
}

.buy-row-content {
    height: 100%;
    margin-left: 20px;
    display: table;
    vertical-align: middle;
    float: left;
}

.buy-row-content p.buy-content-label1 {
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 30px;
    color: #333333;
    font-family: "NotoSansCJKkr-Medium";
}

.buy-row-content p.buy-content-label2 {
    margin-top: 5px;
    font-size: 20px;
    color: #8c8c8c;
    font-family: "NotoSansCJKkr-Medium";
}

.info-center {
    display: table;
    margin: auto;
    margin-bottom: 38px;
}

.info-center a.info-buy-btn {
    background: #333 url("../images/ico_info_reference.png") no-repeat scroll 25px 50%;
    text-decoration: none;
}

.info-center .info-buy-btn {
    width: 340px;
    font-family: "NotoSansCJKkr-Thin";
    height: 54px;
    font-size: 13px;
    border-radius: 4px;
    padding: 20px 25px 20px 45px;
    background-color: #333333;
    color: #fff;
    cursor: pointer;
}

.info-center .info-buy-btn:hover {
    opacity: 0.7;
    border: none;
    background-color: #333;
    color: #fff;
    transition-duration: 0.8s;
}

.tender-title {
    font-size: 40px;
    font-family: "NotoSansCJKkr-Medium";
    color: #333333;
    margin-bottom: 0px;
}

.tender-pad {
    padding: 0;
    background-color: #f8f8f8;
    height: 300px;
    margin-top: 25px;
}

.tender-content {
    display: table;
    margin: auto;
    margin-top: 40px;
    margin-left: 25px;
}

.tender-md {
    width: 290px;
    float: left;
}

.tender-circle-img {
    width: 220px;
    height: 220px;
    border-radius: 110px;
    background-color: #fff;
    position: relative;
    margin: auto;
}

.tender-circle-img .tender-money-img {
    position: absolute;
    width: 48px;
    height: 52px;
    top: 44px;
    right: 86px;
}

.tender-circle-img .tender-chart-img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 45px;
    right: 85px;
}

.tender-circle-img .tender-auth-img {
    position: absolute;
    width: 55px;
    height: 45px;
    top: 47px;
    right: 84px;
}

.tender-circle-img .tender-article-img {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 46px;
    right: 86px;
}

.tender-title-row {
    display: table;
    position: absolute;
    top: 117px;
    width: 100%;
    text-align: center;
}

.tender-label1 {
    font-size: 20px;
    font-family: "NotoSansCJKkr-Regular";
    color: #333333;
    margin-bottom: 5px;
}

.tender-label2 {
    font-size: 24px;
    font-family: "NotoSansCJKkr-Bold";
    color: #333333;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-top-50 {
    margin-top: 50px;
}

.perform-tender-title-pad {
    width: 100%;
    vertical-align: middle;
}

.perform-tender-title-pad > p {
    font-size: 24px;
    font-family: "NotoSansCJKkr-Medium";
    color: #333333;
    float: left;
    margin-bottom: 15px;
}

.perform-tender-title-pad > a {
    font-size: 12px;
    font-family: "NotoSansCJKkr-DemiLight";
    color: #ea5916;
    float: right;
    margin-top: 12px;
    text-decoration: none;
}

.tender-table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

.tender-table thead tr {
    height: 42px;
    border-top: 3px solid #333333;
    border-bottom: 1px solid #efefef;
    text-align: center;
}

.tender-table thead tr th {
    font-size: 13px;
    font-family: "NotoSansCJKkr-DemiLight";
    color: #000;
    vertical-align: middle;
}

.tender-table tbody tr {
    border-bottom: 1px solid #efefef;
    text-align: center;
}

.tender-table tbody tr td {
    font-size: 13px;
    font-family: "NotoSansCJKkr-DemiLight";
    color: #000;
    padding-top: 15px;
    padding-bottom: 10px;
    vertical-align: middle;
}

.sale-child-table {
    width: 100%;
}

.sale-child-table tbody tr td {
    vertical-align: middle;
}

.sale-child-table tbody tr td p {
    font-size: 16.68px;
    font-family: NotoSansCJKkr-DemiLight;
    color: #333333;
}

.sale-child-table tbody tr td img {
    border: 1px solid #f8f8f8;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.myinfo-content {
    display: table;
    margin: auto;
    margin-top: 40px;
    margin-left: 20px;
}

.myinfo-md {
    width: 300px;
    float: left;
}

.tender-circle-img .myinfo-level-img {
    position: absolute;
    width: 50px;
    height: 62px;
    top: 35px;
    right: 85px;
}

.myinfo-title-row {
    display: table;
    position: absolute;
    top: 117px;
    width: 100%;
    text-align: center;
}

.myinfo-label1 {
    font-size: 20px;
    font-family: 'NotoSansCJKkr-Bold';
    color: #333333;
    margin-bottom: 15px;
}

.myinfo-label1 span {
    font-size: 20px;
    font-family: 'NotoSansCJKkr-Bold';
    color: #ea5916;
}

.myinfo-label2 {
    font-size: 13px;
    font-family: 'NotoSansCJKkr-DemiLight';
    color: #8a8a8a;
    margin-bottom: 7px;
}

.myinfo-label2 span {
    font-size: 13px;
    font-family: "NotoSansCJKkr-DemiLight";
    color: #ea5916;
}

.myinfo-right {
    width: 560px;
    float: left;
}

.myinfo-title-label {
    font-size: 24px;
    font-family: 'NotoSansCJKkr-Regular';
    color: #333333;
    margin-bottom: 15px;
}

.myinfo-title-label span {
    font-size: 24px;
    font-family: 'NotoSansCJKkr-Bold';
    color: #ea5916;
}

.myinfo-progress {
    height: 40px;
    margin-bottom: 12px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
    border-radius: 25px;
    border: 5px solid #e8e8e8;
    position: relative;
}

.myinfo-progress-bar {
    float: left;
    width: 0px;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #FFF;
    background-color: #ea5916;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset;
    transition: width 0.6s ease 0s;
    border-radius: 20px;
}

.progress-span {
    font-size: 20px;
    color: #ea5916;
    font-family: 'NotoSansCJKkr-Bold';
    position: absolute;
    top: 10px;
    right: 20px;
}

.myinfo-row {
    width: 100%;
    display: table;
}

.label-left {
    float: left;
    text-align: center;
}

.label-right {
    float: right;
    text-align: center;
}

.myinfo-label-1 {
    font-size: 20px;
    font-family: 'NotoSansCJKkr-Regular';
    color: #333333;
    margin-bottom: 8px;
}

.myinfo-label-2 {
    font-size: 14px;
    font-family: 'NotoSansCJKkr-DemiLight';
    color: #909090;
}

.myinfo-card-label {
    font-size: 24px;
    font-family: 'NotoSansCJKkr-Medium';
    color: #333333;
}

.myinfo-card-label span {
    font-size: 12px;
    font-family: 'NotoSansCJKkr-DemiLight';
    color: #ea5916;
}

.myinfo-table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.myinfo-table tbody tr {
    text-align: center;
}

.myinfo-table thead tr {
    border-top: 3px solid #333333;
    text-align: center;
}

.myinfo-table tbody tr td {
    padding-top: 15px;
    padding-bottom: 10px;
    vertical-align: middle;
}

.myinfo-circle-img {
    width: 140px;
    height: 140px;
    border-radius: 75px;
    background-color: #f8f8f8;
    border: 5px solid #ea5916;
    position: relative;
    margin: auto;
}

.myinfo-circle-img .myinfo-logo-img {
    position: absolute;
    width: 108px;
    height: 70px;
    top: 35px;
    right: 15px;
}

.myinfo-circle-img-off .myinfo-logo-img {
    position: absolute;
    width: 108px;
    height: 70px;
    top: 35px;
    right: 15px;
}

.myinfo-circle-img-off {
    width: 140px;
    height: 140px;
    border-radius: 75px;
    background-color: #f8f8f8;
    border: 5px solid #e8e8e8;
    position: relative;
    margin: auto;
}

.perform-myinfo-title-pad {
    width: 100%;
    vertical-align: middle;
    background-color: #f8f8f8;
}

.myinfo-card-content {
    font-size: 13px;
    font-family: 'NotoSansCJKkr-DemiLight';
    color: #333333;
    margin-bottom: 25px;
    margin-left: 35px;
}

.myinfo-card-content span {
    font-size: 13px;
    font-family: 'NotoSansCJKkr-DemiLight';
    color: #ea5916;
}

.mypage-menu ul li a {
    text-decoration: none;
}

.mimi-btn-sm {
    font-family: "NotoSansCJKkr-DemiLight";
    font-size: 13px;
    width: 100%;
    height: 25px;
    margin: 0px;
    padding: 0px;
    outline: medium none;
    border: medium none;
    cursor: pointer;
    color: #FFF;
}

.btn-info-detail {
    padding: 7px 15px;
}

.mimi-btn-sm:hover {
    opacity: 0.7;
    border: none;
    background-color: #333;
    color: #fff;
    transition-duration: 0.8s;
}

.myinfo-panel-label {
    float: left;
}

.myinfo-panel-label p {
    font-size: 18px;
    font-family: 'NotoSansCJKkr-Regular';
    color: #333333;
}

.myinfo-btn-detail {
    float: left;
    margin-left: 15px;
    margin-top: 5px;
}

.panel-table {
    width: 100% !important;
    border-spacing: 0px;
    border-collapse: collapse;
}

.panel-table thead tr {
    text-align: center;
}

.panel-table thead tr th {
    font-size: 14px;
    color: #fff;
    font-family: 'NotoSansCJKkr-DemiLight';
    background-color: #333333;
    height: 50px;
}

.panel-table thead tr th.border-line-right {
    border-right: 1px solid #cfcfcf;
}

.panel-table tbody tr td {
    font-size: 14px;
    color: #333333;
    font-family: 'NotoSansCJKkr-DemiLight';
    padding-top: 10px;
    padding-bottom: 10px;
}

.panel-table tbody tr {
    text-align: center;
}

.panel-table tbody tr td.border-line-right {
    border-right: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
}

.panel-table tbody tr td.border-line-both {
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
}

.panel-table tbody tr td p {
    font-size: 14px;
    color: #333333;
    font-family: 'NotoSansCJKkr-DemiLight';
}

.panel-close-btn {
    width: 135px;
    font-family: "NotoSansCJKkr-Medium";
    font-size: 20px;
    border-radius: 4px;
    padding: 17px 0px;
    background-color: #333333;
    color: #fff;
    cursor: pointer;
    text-align: center;
    float: right;
}

.panel-close-btn:hover {
    opacity: 0.7;
    border: none;
    background-color: #333;
    color: #fff;
    transition-duration: 0.8s;
}

.holding-search-input {
    position: relative;
    margin-top: 20px;
}

.holding-search-input input {
    width: 100%;
    height: 50px;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    padding: 10px 50px 10px 10px;
    font-size: 20px;
}

.holding-search-input button.mimi-btn-search {
    position: absolute;
    right: 13px;
    top: 10px;
    background: url(../images/ico_holding_search_btn.png) no-repeat 50% 50% transparent;
    width: 28px;
    height: 28px;
    border: none;
    outline: none;
    cursor: pointer;
}

.add_holding_table {
    width: 100%;
}

.add_holding_table tbody {
    vertical-align: middle;
}

.add_holding_table tbody tr {
    vertical-align: middle;
    height: 50px;
}

.add_holding_table tbody tr td label {
    float: left;
    width: 80px;
    position: relative;
    cursor: pointer;
    padding-left: 30px;
}

.add_holding_table tbody tr td label span.check {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #ea5916 none repeat scroll 0% 0%;
    opacity: 0;
    z-index: 6;
    border-radius: 50% !important;
    display: block;
    position: absolute;
    transition-duration: 0.3s;
    transform: scale(0);
}

.add_holding_table tbody tr td .holding-radio input[type="radio"]:checked ~ span.check {
    opacity: 1;
    transform: scale(1);
}

.add_holding_table tbody tr td .holding-radio-status input[type="radio"]:checked ~ span.check {
    opacity: 1;
    transform: scale(1);
}

.add_holding_table tbody tr td label span.box {
    top: 0px;
    border: 1px solid #d1d1d1;
    height: 20px;
    width: 20px;
    border-radius: 50% !important;
    z-index: 5;
    display: block;
    position: absolute;
    left: 0px;
    transition-duration: 0.3s;
    box-sizing: border-box;
}

.holding-input {
    position: relative;
    width: 100%;
    border: 1px solid #DDD;
    background-color: #FAFAFA;
    height: 34px;
}

.holding-input input[type='text'] {
    width: 100%;
    height: 100%;
    text-indent: 18px;
    font-size: 16px;
    color: #333;
    background-color: transparent;
    border: medium none;
    outline: medium none;
    box-sizing: border-box;
}

.holding-btn {
    font-family: "NotoSansCJKkr-DemiLight";
    font-size: 14px;
    width: 100%;
    height: 40px;
    margin: 0px;
    padding: 0px;
    outline: medium none;
    border: medium none;
    border-radius: 4px;
    cursor: pointer;
    color: #FFF;
}

.mypage-row div.mimi-row div.mimi-chart-group:first-of-type {
    position: relative;
}

.mypage-row div.mimi-row div.mimi-chart-group:first-of-type:after {
    content: ' ';
    position: absolute;
    right: 0;
    top: 30px;
    width: 1px;
    height: 240px;
    background: #e1e1e1;
}

.mypage-row div.mimi-row div.mimi-chart-group > h3 {
    font-family: "NotoSansCJKkr-Bold";
    font-size: 20px;
    text-align: center;
    margin: 5px 0 10px;
}

.mypage-row div.mimi-row div.mimi-chart-group > div.mimi-pie-chart {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 0px 20px;
}

.mypage-row div.mimi-row div.mimi-chart-group > div.type-desc {
    padding: 0;
    margin: 10px auto 0;
    width: 200px;
}

.mypage-row div.mimi-row div.mimi-chart-group > div.type-desc > span {
    min-width: 60px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 13px;
}

.mypage-row div.mimi-row div.mimi-chart-group > div.type-desc > span:before {
    content: '■';
    font-size: 10px;
    padding-right: 2px;
}

.mypage-row div.mimi-row div.mimi-chart-group > div.type-desc > span.Nike:before {
    color: #05293d;
}

.mypage-row div.mimi-row div.mimi-chart-group > div.type-desc > span.Adidas:before {
    color: #0fb6e0;
}

.mypage-row div.mimi-row div.mimi-chart-group > div.type-desc > span.Jordan:before {
    color: #1d5d72;
}

.mypage-row div.mimi-row div.mimi-chart-group > div.type-desc > span.Asics:before {
    color: #f5c617;
}

.mypage-row div.mimi-row div.mimi-chart-group > div.type-desc > span.Supreme:before {
    color: #fd5620;
}

.mypage-row div.mimi-row div.info {
    width: 400px;
    padding-right: 25px;
    box-sizing: border-box;
}

.mypage-row div.mimi-row div.info > label.total {
    display: inline-block;
    margin-top: 10px;
    width: 100px;
    height: 36px;
    background: #333;
    color: #fff;
    font-family: "NotoSansCJKkr-Regular";
    font-size: 18px;
    text-align: center;
    line-height: 36px;
}

.mypage-row div.mimi-row div.info > div.mimi-grid {
    width: 100%;
    height: 180px;
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 12px;
}

.mypage-row div.mimi-row div.info > div.mimi-grid > div.grid-row {
    display: table;
    width: 100%;
    height: 80px;
}

.mypage-row div.mimi-row div.info > div.mimi-grid > div.grid-row:first-of-type {
    border-bottom: 1px solid #e8e8e8;
}

.mypage-row div.mimi-row div.info > div.mimi-grid > div.grid-row > div.grid-cell {
    display: table-cell;
    width: 50%;
    height: 100%;
}

.mypage-row div.mimi-row div.info > div.mimi-grid > div.grid-row > div.grid-cell:first-of-type {
    border-right: 1px solid #e8e8e8;
}

.mypage-row div.mimi-row div.info > div.mimi-grid > div.grid-row > div.grid-cell:last-of-type {
    padding-left: 10px;
}

.mypage-row div.mimi-row div.info > div.mimi-grid > div.grid-row > div.grid-cell > p {
    font-family: "NotoSansCJKkr-Regular";
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: #333;
    line-height: 25px;
    margin-top: 10px;
    letter-spacing: -0.5px;
}

.mypage-row div.mimi-row div.info > div.mimi-grid > div.grid-row > div.grid-cell > p > span {
    font-family: "NotoSansCJKkr-Medium";
    color: #fd5620;
    font-size: 24px;
    letter-spacing: -0.5px;
}

.delete-confirm .popup-body > .text-right > a.btn-ok,
.delete-confirm .popup-body > .text-right > a.btn-cancel {
    margin-right: 5px;
    font-size: 15px;
    width: 80px;
    padding: 10px;
    border-radius: 0;
}

/* 게시글 테이블 스타일*/
.mimi-board-table {
    width: 100%;
    border: 1px solid #e1e1e1;
    border-spacing: 0;
    font-family: "NotoSansCJKkr-Light";
}

.mimi-board-table > thead > tr {
    background-color: #0e76a8;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
}

.mimi-board-table > tbody {
    font-size: 14px;
    line-height: 35px;
}

.mimi-board-table > thead > tr > th {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.mimi-board-table > tbody > tr > td {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.mimi-board-table > tbody > tr > td:not(.empty-td) {
    cursor: pointer;
    font-size: 16px;
}

.mimi-board-table > tbody > tr > td:not(:first-of-type) {
    text-align: center;
}

.mimi-board-table > tbody > tr > td:first-of-type {
    padding-left: 10px;
    font-family: "NotoSansCJKkr-Regular";
    color: #000;
}


.mimi-board-table > tbody > tr > td:first-of-type > i {
    width: 25px;
    text-align: center;
    font-size: 1.2em;
}

.mimi-board-table > tbody > tr > td:first-of-type > i.fa-image {
    color: #ea5916;
}

.mimi-board-table > tbody > tr > td:first-of-type span.board-category {
    font-family: "NotoSansCJKkr-Light";
    color: #333;
}

.mimi-board-table > tbody > tr > td:first-of-type span.reply-count {
    font-family: "NotoSansCJKkr-Light";
    color: red;
}

.mimi-board-table > tbody > tr:not(:last-of-type) > td {
    border-bottom: 1px solid #e1e1e1;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.mimi-board-table > tbody td.empty-td {
    text-align: center;
    background: none !important;
}

/* 상세페이지 스타일*/
.mimi-board-detail #recommend_pad {
    position: relative;
    height: 50px;
}

.mimi-board-detail div.rec-sep-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ea5916;
    top: 50%;
}

.mimi-board-detail #recommend_pad > div.text-center {
    position: absolute;
    width: 100%;
}

.mimi-board-detail .mimi-thumb-up-btn {
    display: inline-block;
    width: 100px;
    height: 50px;
    font-size: 30px;
    border-radius: 25px;
    background: #ea5916;
    color: #fff;
    box-shadow: 0 0 0 14px #fff;
    cursor: pointer;
    line-height: 50px;
}

.mimi-board-detail .board-info {
    border: 1px solid #e1e1e1;
}

.mimi-board-detail #notice_list_pad {
    padding: 0 20px;
}

.mimi-board-detail .sub-title {
    font-family: "NotoSansCJKkr-Regular";
    font-size: 16px;
    font-weight: bold;
}

.mimi-board-detail a.all-search {
    font-family: "NotoSansCJKkr-Light";
    font-size: 14px;
    color: #26a08a;
    cursor: pointer;
}


/*마이페이지 패널티 테이불관련*/
.panelty-table-pad {
    width: 100%;
    display: table;
    margin-top:35px;
    vertical-align: middle;
    cursor: pointer;
}

.mimi-board-detail .other-list {
    margin: 20px 0 10px;
    font-family: "NotoSansCJKkr-Light";
    font-size: 16px;
    /*height: 150px;*/
    /*border-bottom: 2px solid #ea5916;*/
}

.mimi-board-detail .other-list > a {
    display: inline-block;
    width: 49%;
    cursor: pointer;
}

.mimi-board-detail .board-reply {
    margin-top: 15px;
    border: 1px solid #e1e1e1;
    padding: 15px;
}

.mimi-board-detail .board-reply .total-reply-cnt {
    font-family: "NotoSansCJKkr-Light";
    font-size: 16px;
    margin-left: 20px;
}

.mimi-board-detail .board-reply .reply-list {
    margin-top: 10px;
    border-top: 1px solid #e1e1e1;
    max-height: 300px;
    overflow-y: auto;
}

.mimi-board-detail .board-reply .reply-list > .reply-li {
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
}

.mimi-board-detail .board-reply .reply-list > .reply-li > .reply-writer {
    font-family: "NotoSansCJKkr-Light";
    font-size: 14px;
    color: #0e76a8;
}

.mimi-board-detail .board-reply .reply-list > .reply-li > .reply-time {
    font-family: "NotoSansCJKkr-Light";
    font-size: 14px;
    color: #9b9b9b;
    margin-left: 20px;
}

.mimi-board-detail .board-reply .reply-list > .reply-li > .reply-remove {
    font-family: "NotoSansCJKkr-Light";
    font-size: 14px;
    float: right;
    cursor: pointer;
}

.mimi-board-detail .board-reply .reply-list > .reply-li > p {
    margin: 10px 0 0;
    line-height: 20px;
}

.mimi-board-detail .board-reply > .new-reply-input {
    margin-top: 10px;
    box-sizing: border-box;
    padding: 0 80px 0 0;
    position: relative;
}

.mimi-board-detail .board-reply > .new-reply-input > textarea {
    width: 100%;
    height: 80px;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    outline: none;
    padding: 10px;
    font-family: "NotoSansCJKkr-DemiLight";
    font-size: 16px;
}

.mimi-board-detail .board-reply > .new-reply-input > a.mimi-register-reply-btn {
    font-family: "NotoSansCJKkr-Light";
    width: 100px;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    background: #ea5916;
    text-align: center;
    line-height: 80px;
    color: #fff;
    cursor: pointer;
}
.mimi-board-detail .board-title-header {
    text-align: left;
    padding: 5px 20px;
}

.mimi-board-detail .board-title-header > h4.title {
    font-size: 16px;
    display: inline;
    padding: 0;
    margin: 0;
}

.mimi-board-detail .board-title-header > .info {
    font-family: "NotoSansCJKkr-Light";
    float: right;
    font-size: 16px;
}

.mimi-board-detail .board-title-header > .info > span {
    margin-left: 10px;
}

.mimi-board-detail .board-title-header > .actions {
    float: right;
    border-right: 1px solid #999;
}

.mimi-board-detail .board-title-header > .actions > a {
    margin-right: 10px;
    color: #0e76a8;
    cursor: pointer;
}


/* 게시글 글쓰기 --------------------------------------------------- */
.board-write .category1 {
    width: 20%;
}

.board-write > .form-label {
    text-align: right;
}

.board-write .mimi-input-group.mimi-select {
    width: 200px;
}

.board-write .mimi-input-group {
    height: 40px;
}

.board-write > div.action-btns {
    text-align: right;
    margin-top: 20px;
}

.board-write > div.action-btns > .mimi-btn {
    width: 100px;
    display: inline-block;
    text-align: center;
    height: 50px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    padding: 0;
    line-height: 50px;
}

.note-dialog .modal-header > button.close {
    border: none;
    background: none;
}

.board-tabs #btn_new_board.mimi-btn {
    border-radius: 0;
    font-size: 16px;
}

hr.board-header-hr {
    border-bottom-style: dashed;
}

.mypagination {
	margin-top: 20px;
}

ul.category-type {
    margin: 0;
    margin-top: 15px;
    padding: 0;
    list-style: none;
}

ul.category-type li {
    float: left;
    width: 184px;
    line-height: 50px;
    text-align: center;
    font-family: 'NotoSansCJKkr-Medium';
    font-size: 16px;
    color: #b1b1b1;
    border: 1px solid #e4e4e4;
    cursor: pointer;
}

ul.category-type li.active {
    border: 1px solid #f56f02;
    background-color: #f56f02;
    color: white;
}
