div.mimi-popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1100;
    background-color: rgba(0, 0, 0, 0.5);
}

.mimi-popup-bg > .mimi-popup {
    width: 640px;
    margin: 100px auto;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
}

.mimi-popup-bg > .mimi-popup.mimi-popup-buy {
    width: 1100px;
}

.mimi-popup > .header {
    font-family: "NotoSansCJKkr-Medium";
    background-color: #fff;
    height: 60px;
    font-size: 24px;
    color: #fff;
    padding: 11px 24px;
    box-sizing: border-box;
}

.mimi-popup > .header > img.mimi-package {
    transform: translateY(3px);
    margin-right: 5px;
}

.mimi-popup.orange > .header {
    background-color: #ea5916;
}

.mimi-popup > .header > button.close-btn {
    float: right;
    border: none;
    width: 24px;
    height: 24px;
    background: url(../images/ic_close.png) no-repeat;
    outline: none;
    cursor: pointer;
    margin-top: 6px;
}

.mimi-popup > .header > a.close-btn {
    float: right;
    border: none;
    width: 24px;
    height: 24px;
    background: url(../images/ic_close.png) no-repeat;
    outline: none;
    cursor: pointer;
    margin-top: 6px;
}

.mimi-popup .popup-body {
    background: #fff;
    padding: 20px 20px 0;
}

.popup-title {
    font-family: "NotoSansCJKkr-Medium";
    font-size: 24px;
    color: #333333;
}

.mimi-popup.mimi-popup-medium {
    width: 920px;
}

.mimi-popup.mimi-popup-medium.long {
    margin-top: 0;
}

.penalty-guide {
    color: black;
    font-size: 24px;
    font-family: "NotoSansCJKkr-Bold";
}

.penalty-label {
    color: #333333;
    font-size: 16px;
    font-family: "NotoSansCJKkr-Regular";
}

.penalty-label.medium {
    font-family: "NotoSansCJKkr-Medium";
    color: red;
}

.penalty-label.red {
    color: red;
}

.email-atmark {
    width: 50px;
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-top: 5px;
}

label.popup-label {
    font-family: "NotoSansCJKkr-Light";
    font-size: 14px;
    color: #a6a6a6;
}

.popup-label > span {
    font-family: "NotoSansCJKkr-Medium";
    font-size: 14px;
    color: #ea1616;
}

.mimi-popup.mimi-popup-buy > .popup-body > .mimi-row {
    min-height: 440px;
}

.mimi-popup.mimi-popup-buy .left {
    width: 700px;
    box-sizing: border-box;
    border-right: 1px solid #d0d0d0;
}

.mimi-popup.mimi-popup-buy .left .mimi-image {
    width: 220px;
    height: 175px;
    box-sizing: border-box;
}

.mimi-popup.mimi-popup-buy .left .mimi-image > p {
    margin: 0;
    padding: 0;
    display: table;
    height: 100%;
    text-align: center;
    border: 1px solid #e3e3e3;
}

.mimi-popup.mimi-popup-buy .left .mimi-image > p > a {
    display: table-cell;
    vertical-align: middle;
}

.mimi-popup.mimi-popup-buy .left .mimi-image img {
    max-width: 100%;
    max-height: 100%;
}

.mimi-popup.mimi-popup-buy .left .popup-p-info {
    vertical-align: top;
    padding-left: 15px;
}

.mimi-popup.mimi-popup-buy .left .popup-p-info > h1.name {
    line-height: 40px;
    font-size: 34px;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

.mimi-popup.mimi-popup-buy .left .popup-p-info > p.color {
    font-size: 16px;
    color: #6f6f6f;
    padding: 0;
    margin: 0;
}

.mimi-popup.mimi-popup-buy .left .popup-p-info > .price > div {
    font-family: "NotoSansCJKkr-Medium";
    font-size: 18px;
}

.mimi-popup.mimi-popup-buy .left .payment-box {
    border: 1px solid #d0d0d0;
    background: #fafafa;
    text-align: center;
    margin-top: 50px;
    margin-right: 20px;
    height: 200px;
}

.mimi-popup.mimi-popup-buy .left .payment-box > p {
    margin: 0;
    padding: 0;
}

.mimi-popup.mimi-popup-buy .left .payment-box > p > img {
    margin-top: 15px;
}

.mimi-popup.mimi-popup-buy .left .payment-box > button {
    font-family: "NotoSansCJKkr-Medium";
    margin-top: 10px;
    width: 170px;
    height: 50px;
    border-radius: 0;
    font-size: 14px;
}

.btn-ok {
    /*border: none;*/
    /*border-radius: 5px;*/
    width: 135px;
    /*font-size: 20px;*/
    /*color: white;*/
    /*background-color: #333333;*/
    /*padding: 20px 40px;*/
    /*cursor: pointer;*/
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    padding: 15px 0px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    line-height: 1.42857;
    -moz-user-select: none;
    background-color: #333333;
}

.btn-cancel {
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    padding: 15px 0px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    line-height: 1.42857;
    -moz-user-select: none;
    background-color: #848484;
    /*margin-left: 5px;*/
    /*border: none;*/
    /*border-radius: 5px;*/
    width: 135px;
    /*font-size: 20px;*/
    /*color: white;*/
    /*background-color: #848484;*/
}

.mimi-popup.mimi-popup-buy .right {
    box-sizing: border-box;
    padding-left: 24px;
    vertical-align: top;
}

.mimi-popup.mimi-popup-buy .right > .popup-select {
    margin: 0 0 10px 0;
}

.mimi-popup.mimi-popup-buy .right > .popup-select > div:first-child {
    width: 150px;
}

.mimi-popup.mimi-popup-buy .right > .popup-select select {
    display: block;
    width: 130px;
    height: 40px;
    outline: none;
    border: 1px solid #d0d0d0;
    text-indent: 2px;
    font-size: 20px;
    margin-top: 10px;
}

.mimi-popup.mimi-popup-buy span.popup-label {
    font-family: "NotoSansCJKkr-Medium";
    font-size: 14px;
}

.mimi-popup.mimi-popup-buy .right .mimi-btn {
    width: 80px;
    height: 40px;
    font-size: 14px;
    border-radius: 0;
    color: white;
}

.mimi-sale-btn {
    height: 40px;
    width: 80px;
    font-size: 12px;
    border-radius: 0;
    color: white;
    cursor: pointer;
}

.sale-cost-view-btn {
    width: 120px;
    font-size: 12px;
    border-radius: 0;
    color: white;
    cursor: pointer;
    padding: 12px 20px;
}

.mimi-popup.mimi-popup-buy .right span.price {
    font-family: "NotoSansCJKkr-Medium";
    font-size: 24px;
}

.mimi-popup.mimi-popup-buy .right .input-group {
    width: 260px;
    position: relative;
}

.mimi-popup.mimi-popup-buy .right .input-group > input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 3px 90px 3px 10px;
    outline: none;
    font-size: 20px;
    border: 1px solid #D0D0D0;
}

.mimi-popup.mimi-popup-buy .right .input-group > a {
    position: absolute;
    right: 0;
    top: 0;
}

.mimi-popup.mimi-popup-buy .right .input-group > button {
    position: absolute;
    right: 0;
    top: 0;
}

/*.mimi-popup.mimi-popup-buy .right .buy-now > span {*/
    /*width: 100%;*/
/*}*/

.mimi-popup.mimi-popup-buy .right .buy-now > * {
    vertical-align: middle;
}

.mimi-popup.mimi-popup-buy .right .buy-now > span.price {
    padding-right: 10px;
}

.mimi-popup.mimi-popup-buy .right .mimi-row > div.text-right > input {
    width: 200px;
    height: 26px;
    outline: none;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    padding-left: 10px;
}

.mimi-popup.mimi-popup-buy .btn-radio > button {
    width: 170px;
    height: 50px;
    border: 1px solid #D0D0D0;
    background: #fff;
    color: #333;
    font-family: "NotoSansCJKkr-Medium";
    font-size: 14px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}

.mimi-popup.mimi-popup-buy .btn-radio > a {
    width: 170px;
    height: 50px;
    border: 1px solid #D0D0D0;
    background: #fff;
    color: #333;
    font-family: "NotoSansCJKkr-Medium";
    font-size: 14px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    padding: 10px 45px;
}

.mimi-popup.mimi-popup-buy .btn-radio > a.active {
    background: #333;
    color: #fff;
}

.mimi-popup.mimi-popup-buy .btn-radio > a:hover {
    background: #333;
    color: #fff;
    opacity: 0.8;
    transition-duration: 0.5s;
}

.mimi-popup.mimi-popup-buy .btn-radio > button.active {
    background: #333;
    color: #fff;
}

.mimi-popup.mimi-popup-buy .btn-radio > button:hover {
    background: #333;
    color: #fff;
    opacity: 0.8;
    transition-duration: 0.5s;
}

.mimi-popup.mimi-popup-buy .popup-body > div.alert {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    background: #efefef;
    padding: 15px 30px;
    height: 53px;
    box-sizing: border-box;
}

.mimi-popup.mimi-popup-buy .popup-body > div.alert > p {
    font-size: 14px;
    color: #f00;
    margin: 0;
    padding: 0 0 0 20px;
    background: url(../images/ic_warning_red.png) no-repeat 0 50%;
}

.mimi-popup.green > .header {
    background-color: #2a8d70;
}

.mimi-popup.warning {
    width: 640px;
}

.mimi-popup.warning .popup-body {
    padding: 30px 110px;
}

.mimi-popup.warning .popup-body > p {
    font-family: "NotoSansCJKkr-Regular";
    margin: 20px 0px;
    letter-spacing: -0.5px;
    line-height: 30px;
}

.mimi-popup.warning .popup-body > p:nth-child(2) {
    color: #f00;
}

.mimi-popup.warning .popup-body > p:nth-child(2) > span {
    font-family: "NotoSansCJKkr-Medium";
}

.mimi-popup.warning .popup-body button.mimi-btn {
    width: 170px;
    height: 50px;
    border-radius: 0;
    font-size: 14px;
    font-family: "NotoSansCJKkr-Medium";
}

.mimi-popup.sell-search {
    width: 1100px;
}

.mimi-popup.sell-search .popup-body {
    padding: 30px;
}

.mimi-popup.sell-search .popup-body > .mimi-row > div:first-child {
    width: 135px;
}

.mimi-popup.sell-search .popup-body > .mimi-row > div:last-child {
    vertical-align: top;
}
.mimi-popup.sell-search .popup-body > .mimi-row > div:last-child > h1 {
    margin: -7px 0 0 0;
    font-family: "NotoSansCJKkr-Medium";
    font-size: 20px;
}
.mimi-popup.sell-search .popup-body > .mimi-row > div:last-child > p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.mimi-popup.sell-search .popup-body > .mimi-row > div:last-child > .search-input {
    position: relative;
    margin-top: 20px;
}

.mimi-popup.sell-search .popup-body > .mimi-row > div:last-child > .search-input > input {
    width: 100%;
    height: 50px;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    padding: 10px 50px 10px 10px;
    font-size: 20px;
}

.mimi-popup.sell-search .popup-body > .mimi-row > div:last-child > .search-input > button.mimi-btn-search {
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/ic_search.png) no-repeat 50% 50% transparent;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
}

.mimi-popup.red > .header {
    background-color: #ea5916;
}

.mimi-popup.success {
    width: 920px;
}
