/*****************************************************************
  Metronic Redefinition
*****************************************************************/
.container-xxl {
  max-width: unset;
}


/*****************************************************************
  Other Library
*****************************************************************/
.mfp-with-zoom {
  z-index: 99999;
}

.flex-column-fluid .container {
  max-width: 100%;
  margin: 0px;
}

.divider-filter {
  width: 100%;
  height: 1px;
  background: #999999;
}


/*****************************************************************
  My CSS
*****************************************************************/
/*Profile*/
.profile {
  width: 100px;
  height: 100px;
}

.profile .bg {
  width: 100px;
  height: 100px;
  position: absolute;
}

.profile .img {
  width: 100px;
  height: 100px;
  position: absolute;
}

.profile .del {
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: 80px;
}
