section.alarm-body {
    width: 100%;
    height: auto;
    background: white;
    display: table;
}

.alarm-content {
    margin: auto;
    width: 91%;
}

.alarm-content h1 {
    font-size: 14.62px;
    font-family: 'NotoSansCJKkr-Medium';
    color: #ea5916;
}

.mypage-row > * {
    outline: medium none;
    float: left;
}

/*check box*/
label.notify-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
}

label.notify-checkbox > input[type="checkbox"] {
    opacity: 0;
}

label.notify-checkbox > input[type="checkbox"] + i {
    transition: all 0.2s ease 0s;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: -20px;
    margin-right: 8px;
    background: transparent url("../../images/ic_notify_checkbox_off.png") no-repeat scroll 0% 0%;
	background-size: 18px;
    width: 18px;
    height: 18px;
}

label.notify-checkbox > input[type="checkbox"]:checked + i {
    transition: all 0.2s ease 0s;
    background: transparent url("../../images/ic_notify_checkbox_on.png") no-repeat scroll 0% 0%;
	background-size: 18px;
}

label.notify-checkbox {
    cursor: pointer;
}

.card-label {
    font-size: 14px;
    font-family: 'NotoSansCJKkr-Medium';
    color: #4c4c4c;
}

.card-content {
    font-size: 11px;
    font-family: 'NotoSansCJKkr-DemiLight';
    color: #b3b0b0;
}