div.mimi-popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1100;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

.mimi-popup-bg > .mimi-popup {
    margin: 50px 17px;
}

.mimi-popup-bg > .mimi-popup.middle {
    margin-top: calc(50% - 30px);
}

.mimi-popup > .header {
    font-family: "NotoSansCJKkr-DemiLight";
    background-color: #fff;
    height: 37px;
    font-size: 16.87px;
    color: #fff;
    line-height: 37px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.mimi-popup > .header > img.mimi-package {
    transform: translateY(3px);
    margin-right: 5px;
}

.mimi-popup.orange > .header {
    background-color: #ea5916;
}

.mimi-popup.green > .header {
    background-color: #2a8d70;
}

.mimi-popup > .header > a.close-btn {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    width: 37px;
    height: 37px;
    background: url(../../images/mobile/bt_popup_close.png) no-repeat center;
    outline: none;
    cursor: pointer;
}

.mimi-popup .popup-body {
    background: #fff;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mimi-popup .popup-body .popup-content {
    background: #fff;
    width: 75%;
    margin: auto;
}

.popup-search-content {
    width: 90%;
    margin: auto;
    background-color: #fff;
}

/* 상품상세페이지의 판매(상품검색)팝업 css*/
.mimi-popup.pdt-sell-search > .popup-body {
    padding: 15px 16px 20px;
}

.mimi-popup.pdt-sell-search > .popup-body > p {
    font-family: "NotoSansCJKkr-Medium";
    font-size: 14.63px;
    padding: 0;
    margin: 0 0 -8px 0;
}

.mimi-popup.pdt-sell-search > .popup-body > small {
    font-family: "NotoSansCJKkr-DemiLight";
    font-size: 7.88px;
    margin: 0;
    padding: 0;
    color: #878787;
}

.mimi-popup.pdt-sell-search > .popup-body > .pdt-search-input {
    padding: 0 2px;
    position: relative;
}

.mimi-popup.pdt-sell-search > .popup-body > .pdt-search-input > input {
    width: 100%;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    padding: 0 30px 0 10px;
    font-family: "NotoSansCJKkr-Light";
    font-size: 7.88px;
}

.mimi-popup.pdt-sell-search > .popup-body > .pdt-search-input > a.pdt-search-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background: url(../../images/mobile/ic_pdt_search_green.png) no-repeat center;
    background-size: 15px;
    cursor: pointer;
}

/* 상품상세페이지의 판매 패널티 팝업 css*/
.mimi-popup.pdt-panelty > .popup-body {
    padding: 20px 10px 25px 20px;
}
.mimi-popup.pdt-panelty > .popup-body > p.panelty-label {
    font-size: 11.25px;
    padding: 0;
    margin: 0 0 10px;
    letter-spacing: -0.5px;
}

.mimi-popup.pdt-panelty > .popup-body > p.panelty-guide {
    color: red;
    font-size: 9px;
    line-height: 16.68px;
    padding: 0 0 0 55px;
    margin: 0;
    letter-spacing: -0.3px;
    background: url(../../images/mobile/ic_warning_circle_red.png) no-repeat left center;
    background-size: 45px;
}

/*  */
.delete-confirm .popup-body > .text-right > a.btn-ok, .delete-confirm .popup-body > .text-right > a.btn-cancel {
    margin-right: 5px;
    font-size: 9px;
    width: 50px;
    padding: 10px 30px;
    border-radius: 0px;
}

.modal-info-content {
    font-size: 15px;
    color: #333;
    padding-left: 15px;
}


/* 상품상세페이지에서 판매 팝업 css*/
.pdt-sell {
    font-family: "NotoSansCJKkr-DemiLight";
}
.pdt-sell .form-block {
    padding: 0 12px 10px;
    border-bottom: 1px solid #efefef;
}

.pdt-sell .form-block > .pdt-image > * {
    width: 115px;
    height: 96px;
    border: 1px solid #eee;
    display: table-cell;
    vertical-align: middle;
}

.pdt-sell .form-block > .pdt-image img {
    max-width: 100%;
    max-height: 100%;
}

.pdt-sell .form-block > .pdt-info {
    padding-left: 125px;
}

.pdt-sell .form-block > .pdt-info .name {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 20px;
    margin-bottom: 5px;
}

.pdt-sell .form-block > .pdt-info .color {
    font-size: 9px;
    margin: 0;
    color: #6f6f6f;
}

.pdt-sell .form-block > .pdt-info .price {
    font-family: "NotoSansCJKkr-Medium";
    font-size: 10.13px;
    line-height: 13.63px;
    letter-spacing: -0.3px;
}

.pdt-sell .form-block .size-and-date {
    width: 100%;
    height: 30px;
}

.pdt-sell .form-block .size-and-date > .mimi-dropdown {
    float: left;
    width: calc(50% - 3px);
}

.pdt-sell .form-block .size-and-date > .mimi-dropdown + .mimi-dropdown {
    margin-left: 6px;
}

.pdt-sell .form-block div + .row {
    margin-top: 8px;
}

.pdt-sell .row > label.row-label {
    font-size: 11.25px;
}

.pdt-sell .row > .right {
    float: right;
}

.pdt-sell .row > .row-input {
    width: 196px;
    height: 28px;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 0 0 0 5px;
    font-size: 11.25px;
}

.pdt-sell .row > [data-prefix]:before {
    content: attr(data-prefix);
    color: #EA5916;
}

.pdt-sell .row > .row-input > input {
    display: inline;
    width: calc(100% - 3px);
    border: none;
    outline: none;
    height: 100%;
}
.pdt-sell .row > .row-input[data-prefix] > input {
    width: calc(100% - 18px);
    padding: 3px 60px 3px 3px;
}
.pdt-sell .row > .row-input[data-prefix] > button {
    width: 58px;
    height: 100%;
    background-color: #ea5916;
    color: white;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-radius: 0 4px 4px 0;
    font-family: "NotoSansCJKkr-Light";
    font-size: 10px;
}

.pdt-sell .row.instance_buy_div {
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.pdt-sell .row.instance_buy_div > * {
    vertical-align: middle;
    display: table-cell;
}

.pdt-sell .row.instance_buy_div > button {
    float: right;
    display: table-cell;
    width: 64px;
    height: 28px;
    border: none;
    outline: none;
    font-family: "NotoSansCJKkr-Light";
}

.pdt-sell .row > .text-red {
    font-family: "NotoSansCJKkr-DemiLight";
    font-size: 9px;
    margin: 5px 0 0;
}

.pdt-sell .row > p.right {
    font-family: "NotoSansCJKkr-DemiLight";
    margin: 0;
    font-size: 13.5px;
    letter-spacing: -0.5px;
    margin-top: 5px;
}

.pdt-sell .row > span.right {
    font-size: 11.25px;
    letter-spacing: -0.5px;
    margin-top: 7px;
}

.pdt-sell .footer {
    padding: 0 12px;
}

.pdt-sell .footer .wall {
    border: 1px solid #e3e3e3;
    background: #f8f8f8;
    padding: 7px 0;
    height: 100px;
    margin-top: 20px;
}

.pdt-sell .footer .wall > p{
    font-size: 11.25px;
}

.pdt-sell .footer .wall > .mimi-mobile-btn {
    width: 74px;
    padding: 0;
    height: 25px;
    line-height: 25px;
}

.pdt-sell .footer .pay-option {
    margin: 0 -12px;
    padding: 12px;
    /*height: 100px;*/
    background: #f7f7f7;
}

.pdt-sell .footer .pay-option {
    font-family: "NotoSansCJKkr-Light";
    font-size: 11.25px;
}

/*판매하기 팝업관련*/
.pdt-search-input div.drop-list {
    display: none;
    position: absolute;
    left: 0px;
    z-index: 10;
    border-radius: 5px;
    background-color: #FAFAFA;
    padding: 7px 0px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-height: 128px;
    overflow-y: scroll;
}

#sale_search_result_pad p, #layout_search_result_pad p {
    font-size: 9px !important;
    margin: 0;
    color: #777777;
    line-height: 24px;
}

#sale_search_result_pad a, #layout_search_result_pad a {
    font-size: 9px !important;
}

#sale_search_result_pad h2, #layout_search_result_pad h2 {
    font-size: 14px !important;
    line-height: 20px !important;
    font-weight: 300;
}