@font-face {
    font-family: 'NotoSansCJKkr-DemiLight';
    src: url('../../font/NotoSans-DemiLight.otf');
}

@font-face {
    font-family: 'NotoSansCJKkr-Black';
    src: url('../../font/NotoSans-Black.otf');
}

@font-face {
    font-family: 'NotoSansCJKkr-Bold';
    src: url('../../font/NotoSans-Bold.otf');
}

@font-face {
    font-family: 'NotoSansCJKkr-Light';
    src: url('../../font/NotoSans-Light.otf');
}

@font-face {
    font-family: 'NotoSansCJKkr-DemiLight';
    src: url('../../font/NotoSans-DemiLight.otf');
}

@font-face {
    font-family: 'NotoSansCJKkr-Medium';
    src: url('../../font/NotoSans-Medium.otf');
}

@font-face {
    font-family: 'NotoSansCJKkr-Regular';
    src: url('../../font/NotoSans-Regular.otf');
}

@font-face {
    font-family: 'NotoSansCJKkr-Thin';
    src: url('../../font/NotoSans-Thin.otf');
}

html, body {
    font-family: "NotoSansCJKkr-Regular";
    background: #f7f7f7;
    padding: 0;
    margin: 0;
    color: #333;
}

:root {
    --mimi-color-primary: #ea5916;
    --mimi-color-gray: #a4a4a4;
}

body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.btn {
    cursor: pointer;
}

a[href^="tel"] {
    color: inherit;
    text-decoration: none;
}

.text-red {
    color: #e55555;
}

.text-orange {
    color: #ea5916;
}

.text-green {
    color: #29a18c;
}

.text-black {
    color: #000;
}

.mimi-mobile-btn {
    display: inline-block;
    height: 34px;
    padding: 0 35px;
    line-height: 34px;
    border-radius: 3px;
    font-size: 11.25px;
    text-align: center;
    cursor: pointer;
}

.btn-orange {
    background: #ff6b26;
    color: #fff;
}

.btn-dark {
    background: #333;
    color: #fff;
}

.btn-green {
    background: #2eae98;
    color: #fff;
}

.btn-black {
    background: #333 !important;
    color: #fff;
}

.btn-default {
    background: #f3f3f3 !important;
}

.btn-cancel {
    background-color: #686868 !important;
    color: #fff;
}

.color-orange {
    color: #ea5916 !important;
}

.color-black {
    color: #333 !important;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.pos-right {
    float: right;
}

.pos-left {
    float: left;
}

.hidden {
    display: none !important;
}

a {
    text-decoration: none;
    outline: none;
    color: #333;
}

/* header style =================================================================================*/
header.main {
    width: 100%;
    /*height: 132px;*/
    position: relative;
}

header.other-main {
    height: auto !important;
}

/* logo style ------------------- start ----*/
header.main div.logo {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    background: #fff;
}

header.main div.logo > a.btn-hamburger {
    background: url(../../images/mobile/ic_hamburger_black.png) no-repeat center;
    background-size: 18px;
}

header.main div.logo > a.btn-search {
    background: url(../../images/mobile/ic_search.png) no-repeat center;
    background-size: 17px;
}

header.main #search_header_div {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% - 50px);
    height: 50px;
    line-height: 50px;
    text-align: left;
}

header.main #search_header_div .btn-search-icon {
    background: url(../../images/mobile/ic_search.png) no-repeat center;
    background-size: 17px;
    left: 12px;
    top: 0;
    position: absolute;
    width: 17px;
    height: 50px;
}

header.main #search_header_div .btn-search-cancel {
    background: url(../../images/bt_close.png) no-repeat center;
    background-size: 25px;
    width: 50px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
    top: 0;
    right: 0;
    position: absolute;
}

header.main #search_header_div input {
    border-radius: 5px;
    border: none;
    background-color: #f6f6f6;
    padding-right: 15px;
    box-shadow: none;
    margin-top: 7px;
    height: 34px;
    text-overflow: ellipsis;
    color: #000;
    padding-left: 35px;
    width: calc(100% - 45px);
}

header.main #search_header_div input:focus {
    outline: none;
}

header.main div.logo > a.left,
header.main div.logo > a.right {
    width: 50px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
}

header.main div.logo > a.left {
    float: left;
}

header.main div.logo > a.right {
    float: right;
}

header.main div.logo > a.btn-logo {
    /*position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);*/
    background: url(../../images/mobile/oos_logo.png) no-repeat center;
    background-size: 144px;
    width: 144px;
    height: 50px;
    display: inline-block;
}

/* logo style ------------------- end ----*/

/* search style ------------------- start ----*/

header.main div.main-search {
    width: 100%;
    height: 45px;
    padding: 6px;
    box-sizing: border-box;
}

.main-search > ul {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 120px;
    padding: 0px;
    margin: auto;
    list-style: none;
    box-shadow: 0px 2px 2px 0px #ebebeb;
    background: #fff;
    max-height: 240px;
    overflow-y: auto;
    display: none;
    z-index: 1001;
    width: calc(100% - 10px);
}

.main-search > ul > li {
    height: 40px;
	border-top: 1px solid #ebebeb;
}

.main-search > ul > li > a {
    display: inline-block;
    padding: 0 15px;
    font-size: 11px;
    line-height: 40px;
	width: 92%;
}

.main-search > ul > li > img {
	float: right;
	width: 10px;
	margin: 15px 15px 0 0; 
}

header.main div.main-search > div.search-bar {
    background: #fff;
    border-radius: 6px;
    width: 100%;
    height: 100%;
}

header.main div.search-bar > span.search-type {
    font-family: "NotoSansCJKkr-Bold";
    font-size: 11.25px;
    line-height: 33px;
    padding-left: 12px;
}

header.main div.search-bar > span.search-result {
    font-family: "NotoSansCJKkr-Regular";
    font-size: 11.25px;
    line-height: 33px;
    padding-left: 5px;
}

header.main div.search-bar > a.btn-search-drop {
    float: right;
    width: 32px;
    height: 25px;
    margin-top: 4px;
    display: inline-block;
    border-left: 1px solid #f3f3f3;
    background: url(../../images/arrow_down_orange.png) no-repeat center;
    background-size: 15px;
    cursor: pointer;
}

/* search style ------------------- end ----*/

/* nav-bar style ------------------- start ----*/
header.main div.main-nav {
    width: 100%;
    height: 37px;
    background: #fff;
}

header.main div.main-nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #F8F8F8;
    display: flex;
}

header.main div.main-nav > ul > li {
    float: left;
    flex: 1;
    display: block;
    position: relative;
    height: 100%;
    text-align: center;
}

header.main div.main-nav > ul > li:not(:last-of-type):after {
    content: " ";
    position: absolute;
    right: 0;
    width: 1px;
    height: 10px;
    background: #f3f3f3;
    top: 50%;
    transform: translateY(-50%);
}

header.main div.main-nav > ul > li > a {
    display: inline-block;
    font-family: "NotoSansCJKkr-Bold";
    font-size: 13px;
    line-height: 37px;
    color: #919191;
    cursor: pointer;
    box-sizing: border-box;
}

header.main div.main-nav > ul > li > a.active {
    color: #333;
    border-bottom: 3px solid #ea5916;
    padding-top: 3px;
    line-height: 31px;
}

/* nav-bar style ------------------- end ----*/

section.main-body {

}

footer.main-footer {
    background: #2b2d2e;
}

footer.main-footer > .footer-top {
    width: 100%;
    /*height: 45px;*/
}

footer.main-footer > .footer-top > p {
    font-family: "NotoSansCJKkr-DemiLight";
    font-size: 10px;
    color: #fff;
    line-height: 30px;
    margin: 1em 0;
}

footer.main-footer .mimi-company-info p {
    color: #cccccc;
    font-size: 10px;
    font-family: "NotoSansCJKkr-Light";
    margin: 0;
    line-height: inherit;
}

footer.main-footer > .other-links {
    width: 100%;
    height: 140px;
    background: #1d1f20;
    padding: 10px 17px 0;
    box-sizing: border-box;
}

footer.main-footer > .other-links > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer.main-footer > .other-links > ul > li {
    height: 20px;
}

footer.main-footer > .other-links > ul a:before {
    content: '∙';
    padding-right: 3px;
    vertical-align: top;
}

footer.main-footer > .other-links > ul a {
    font-family: "NotoSansCJKkr-DemiLight";
    font-size: 10px;
    color: #fff;
    vertical-align: top;
}

footer.main-footer > .other-links > .pull-right > a > img {
    width: 20px;
}

/* side bar css */
.st-menu {
    width: 280px;
    background: #fff;
}

.st-menu div.sidebar-header {
    background: #ea5916;
    width: 100%;
    height: 51px;
    padding: 0 0 0 16px;
    box-sizing: border-box;
}

.st-menu div.sidebar-header > a.icon-logo {
    display: inline-block;
    width: 105px;
    height: 51px;
    background: url(../../images/ic_main_stock_white.png) no-repeat center;
    background-size: 105px;
    cursor: pointer;
}

.st-menu div.sidebar-header > a.close-sidebar {
    float: right;
    width: 51px;
    height: 51px;
    background: url(../../images/mobile/ic_close.png) no-repeat center;
    background-size: 23px;
    cursor: pointer;
}

.st-menu ul > li > a {
    display: block;
    box-shadow: none !important;
    margin: 0;
    box-sizing: border-box;
}

.st-menu ul > li > a.icon {
    height: 40px;
    padding: 0 0 0 37px;
    font-family: "NotoSansCJKkr-Medium";
    font-size: 13.5px;
    color: #333;
    line-height: 40px;
    letter-spacing: -0.3px;
    cursor: pointer;
}

.st-menu ul > li > a.icon.icon-signin {
    background: url(../../images/mobile/ic_user_orange.png) no-repeat 17px center;
    background-size: 13px;
}

.st-menu ul > li > a.icon.icon-login {
    background: url(../../images/mobile/ic_logout_right.png) no-repeat 17px center;
    background-size: 12px;
}

.st-menu ul > li > a.section-header {
    height: 40px;
    padding: 0 0 0 16px;
    font-family: "NotoSansCJKkr-Medium";
    font-size: 13.5px;
    color: #fff;
    line-height: 40px;
    letter-spacing: -0.3px;
    background: url(../../images/mobile/bg_side_menu_bar.png) no-repeat center;
    background-size: 100% 40px;
}

.st-menu ul > li > a.section-header > span.icon-hamburger {
    padding-left: 24px;
    background: url(../../images/mobile/ic_hamburger_white.png) no-repeat left center;
    background-size: 18px;
}

.st-menu ul > li > a.section-header > span.icon-oos {
    padding-left: 24px;
    background: url(../../images/ic_main_box.png) no-repeat left center;
    background-size: 18px;
}

.st-menu ul > li > a.section-header > span.icon-user {
    padding-left: 24px;
    background: url(../../images/mobile/ic_user_white.png) no-repeat left center;
    background-size: 12px;
}

.st-menu ul > li > a.section-cell {
    height: 35px;
    padding: 0 16px;
    border-bottom: 1px solid #f1f1f1;
    line-height: 35px;
    font-size: 11.25px;
    color: #333;
    letter-spacing: -0.2px;
}

.st-menu ul > li > a.logout {
    height: 35px;
    background: #f5f5f5;
    line-height: 35px;
    font-size: 11.25px;
    color: #333;
    letter-spacing: -0.3px;
    padding: 0;
}

.st-menu ul > li > a.logout > span.icon-logout {
    padding-left: 17px;
    background: url(../../images/mobile/ic_logout_left.png) no-repeat left center;
    background-size: 12px;
}

.st-menu ul > li > a.section-cell:after {
    content: ' ';
    float: right;
    display: inline-block;
    width: 10px;
    height: 35px;
    background: url(../../images/mobile/ic_menu_arrow_right.png) no-repeat right center;
    background-size: auto 12px;
}

.st-menu .sidebar-bottom {
    padding: 17px;
    box-sizing: border-box;
}

.st-menu .sidebar-bottom > a.btn-sell {
    display: inline-block;
    background: url(../../images/mobile/btn_dark_lg.png) no-repeat center;
    background-size: 100% 46px;
    width: 100%;
    height: 46px;
    font-family: "NotoSansCJKkr-Medium";
    font-size: 14.62px;
    color: #fff;
    line-height: 46px;
}

.st-menu .sidebar-bottom > a.btn-sell > span.icon-cart {
    padding-left: 24px;
    background: url(../../images/mobile/ic_cart_line.png) no-repeat left center;
    background-size: 19px;
}

.st-menu .sidebar-menus {
    position: absolute;
    width: 100%;
    top: 51px;
    bottom: 0;
    overflow-y: auto;
}

.st-content {
    background: transparent;
}

.grid-row {
    display: table;
    width: 100%;
    margin: 0 -10px;
    box-sizing: border-box;
}

.grid-row::before,
.grid-row::after {
    clear: both;
}

.grid-row.grid-2-cell > * {
    width: 50%;
    display: table-cell;
    box-sizing: border-box;
}

.grid-row.grid-margin-3 {
    margin: 0;
}

.grid-row.grid-2-cell > *:first-child {
    padding-right: 2px;
}

.grid-row.grid-2-cell > *:nth-child(2) {
    padding-left: 2px;
}

.mimi-btn {
    border-radius: 4px;
    font-family: "NotoSansCJKkr-Medium";
    font-size: 11.25px;
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.btn-full {
    display: inline-block;
    width: 100%;
}

.btn-popup {
    display: inline-block;
    width: 30%;
}

.btn-large {
    height: 50px;
    line-height: 50px;
    font-family: "NotoSansCJKkr-Medium";
    font-size: 14px;
}

.margin-top-25 {
    margin-top: 25px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-3 {
    margin-top: 3px !important;
}

.margin-top-8 {
    margin-top: 8px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-22 {
    margin-top: 22px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-bottom-13 {
    margin-bottom: 13px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-8 {
    margin-bottom: 8px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-top-0 {
    margin-top: 0px !important;
}

.margin-left-3 {
    margin-left: 3px !important;
}

.margin-right-17 {
    margin-right: 17px !important;
}

/* dropdown */
.mimi-dropdown {
    position: relative;
}

.mimi-dropdown > .drop-box {
    width: 100%;
    height: 45px;
    border: 1px solid #ededed;
    border-radius: 4px;
    position: relative;
}

.mimi-dropdown.small > .drop-box {
    height: 30px;
    border-radius: 2px;
}

.mimi-dropdown > .drop-box > .selected {
    font-family: "NotoSansCJKkr-Medium";
    font-size: 12.38px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    margin: 0;
}

.mimi-dropdown.small > .drop-box > .selected {
    font-size: 10.13px;
    height: 30px;
    line-height: 30px;
    padding: 0 30px 0 10px;
}

.mimi-dropdown > .drop-box > .btn-dropdown {
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 28px;
    right: 0;
    top: 9px;
    border-left: 1px solid #ededed;
    background: url(../../images/arrow_down_orange.png) no-repeat center;
    background-size: 14px;
    cursor: pointer;
}

.mimi-dropdown.small > .drop-box > .btn-dropdown {
    width: 30px;
    height: 20px;
    top: 4px;
    background-size: 12px;
}

.mimi-dropdown > ul {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 46px;
    padding: 0;
    margin: 0;
    list-style: none;
    box-shadow: 1px 1px 1px 1px #adadad;
    background: #fff;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    z-index: 300;
}

.mimi-dropdown.small > ul {
    top: 32px;
}

.mimi-dropdown > ul > li {
    height: 30px;
}

.mimi-dropdown > ul > li > a {
    display: block;
    padding: 0 15px;
    font-size: 13.5px;
    line-height: 30px;
}

.mimi-dropdown > ul > li > a:active,
.mimi-dropdown > ul > li > a:hover,
.mimi-dropdown > ul > li > a:focus {
    background: #ededed;
}

/* Switch */
.mimi-switch {
    display: table !important;
    height: 28px;
    border: 1px solid #EA5916;
    border-radius: 2px;
}

.mimi-switch.dark {
    border: 1px solid #333;
}

.mimi-switch a {
    display: table-cell;
    height: 100%;
    width: 80px;
    vertical-align: middle;
    text-align: center;
    color: #9B9A9A;
    cursor: pointer;
    font-size: 11px;
    font-family: 'NotoSansCJKkr-Regular';
}

.mimi-switch > a + a {
    border-left: 1px solid #EA5916;
}

.mimi-switch.dark > a + a {
    border-left: 1px solid #333;
}

.mimi-switch a.on {
    background-color: #EA5916;
    color: #FFF;
}

.mimi-switch.dark a.on {
    background-color: #333;
}

.datepicker {
    z-index: 1110 !important;
    position: absolute;
}

.inverted {
    background-color: #fff !important;
    color: #333 !important;
}

.word-rotate-items {
    padding-top: 6px;
    text-align: left;
}

.datepicker.dropdown-menu {
    padding: 5px;
    box-shadow: 5px 5px rgba(102, 102, 102, .1);
    border: 1px solid #efefef;
}

.dropdown-menu {
    box-shadow: 5px 5px rgba(102, 102, 102, .1);
    left: 0;
    min-width: 175px;
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    list-style: none;
    text-shadow: none;
    padding: 0;
    background-color: #fff;
    margin: 10px 0 0;
    border: 1px solid #eee;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 10px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
}

hr {
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.2), transparent);
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent);
    border: 0;
    height: 1px;
    margin: 22px 0 10px 0;
}

.toast-message a.btn-toast {
    margin-left: 10px;
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px solid white;
}

.toast-message a.btn-toast:hover {
    background-color: white;
    color: #f89406;
}

#buy_real_money.active {
    color: #EA5916;
}

#buy_real_money.active:before {
    content: '';
    background: url(../../images/ic_notify_checkbox_on.png) no-repeat center;
    background-size: 18px auto;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#bidding_agree {
    display: flex;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #EFEFEF;
    align-items: center;
    padding: 10px 0;
    margin-top: 15px;
    font-size: 12px;
    color: #6f6f6f;
}

.sell_size_box.disabled {
    background-color: rgb(235, 235, 228);
}

.oneline {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ellipsis {
    overflow: hidden;
    position: relative;
    /*text-align: justify;*/
    margin-right: 1em;
    padding-right: 1em;
}

.ellipsis:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}

.ellipsis:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}

#bidding_agree input[type="checkbox"] {
    display: none;
}

#bidding_agree input[type="checkbox"] + i {
    display: inline-block;
    width: 50px;
    min-width: 50px;
    height: 24px;
    background: url(../../images/ic_notify_checkbox_off.png) no-repeat center;
    background-size: 24px 24px;
    vertical-align: middle;
    transition: 0.2s linear;
}

#bidding_agree input[type="checkbox"]:checked + i {
    background: url(../../images/ic_notify_checkbox_on.png) no-repeat center;
    background-size: 24px 24px;
    transition: 0.2s linear;
}