div.product-info > * {
    width: 50%;
}

div.product-info .mimi-p-images ul.mimi-p-info {
    list-style: none;
    padding: 20px 0 0 0;
}

div.product-info .mimi-p-images ul.mimi-p-info > li {
    height: 30px;
}

div.product-info .mimi-p-images ul.mimi-p-info > li > span:first-child {
    display: inline-block;
    font-size: 14px;
    text-align: justify;
    width: 70px;
}

div.product-info .mimi-p-images ul.mimi-p-info > li > span:last-child {
    font-size: 14px;
    color: #ababab;
}

.product-info > .mimi-p-detail {
    vertical-align: top;
    padding-left: 40px;
}

.product-info .mimi-p-name {
    font-family: "NotoSansCJKkr-Regular";
    margin-top: 0px;
    margin-bottom: 25px;
    font-size: 30px;
    color: #ea5916;
    min-height: 180px
}

.product-info div.btn-sm-group {
    text-align: right;
    width: 200px;
}

.product-info div.btn-sm-group > .mimi-btn {
    font-family: "NotoSansCJKkr-Thin";
    width: 90px;
    height: 28px;
    font-size: 13px;
    border-radius: 0px;
    padding-left: 14px;
}

.mimi-p-detail .btn-sm-group .mimi-btn:nth-child(1) {
    background: url(../images/ic_btn_share.png) no-repeat 12px 50% #333;
}

.mimi-p-detail .btn-sm-group .mimi-btn:nth-child(2) {
    background: url(../images/ic_btn_plus.png) no-repeat 12px 50% #ea5916;
}

.mimi-p-detail .btn-sm-group .mimi-btn:nth-child(3) {
    background: url(../images/ic_btn_star.png) no-repeat 12px 50% #d32626;
}

ul.mimi-grid-group {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
}

ul.mimi-grid-group > li {
    display: table-cell;
    width: 20%;
    padding: 0;
    margin: 0;
    float: left;
    border: 0.5px solid #efefef;
    box-sizing: border-box;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #333;
    cursor: pointer;
}

ul.mimi-grid-group > li:hover {
    /*opacity: 0.7;*/
    border: none;
    background-color: #333;
    color: #fff;
    transition-duration: 0.8s;
}

ul.mimi-grid-group > li.active {
    border: none;
    background-color: #333;
    color: #fff;
}

.mimi-p-detail .mimi-p-price-info > span {
    /*font-size: 13px;*/
    padding-left: 16px;
}

.mimi-p-detail .mimi-p-price-info span.mimi-p-price-up {
    background: url(../images/ic_price_up.png) no-repeat 0 50%;
}

.mimi-p-detail .mimi-p-price-info span.mimi-p-price-down {
    background: url(../images/ic_price_down.png) no-repeat 0 50%;
}

.mimi-p-detail .mimi-p-price-info.right > span {
    background: url(../images/ic_price_chart.png) no-repeat 0 50%;
}

.mimi-p-detail .mimi-p-before-price span.static {
    font-family: "NotoSansCJKkr-Bold";
    font-size: 36px;
    color: #333;
}

.mimi-p-detail .mimi-p-before-price span.fall {
    font-size: 14px;
    color: #ff0000;
    display: inline-block;
    vertical-align: top;
    padding-top: 23px;
}

.mimi-p-detail .mimi-row.mimi-p-now-price {
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    padding: 14px 10px 19px;
    box-sizing: border-box;
}

.mimi-p-detail .mimi-row.mimi-p-now-price > div:nth-child(1) {
    border-right: 1px solid #e7e7e7;
}

.mimi-p-detail .mimi-row.mimi-p-now-price > div > span {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.mimi-p-detail .mimi-row.mimi-p-now-price > div > h1 {
    font-family: "NotoSansCJKkr-Bold";
    font-size: 36px;
    color: #333;
    margin: 0 auto;
    padding: 0;
}

.mimi-p-detail .mimi-row.mimi-p-now-price > div > a {
    font-size: 14px;
    color: #b2b2b2;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid #b2b2b2;
    box-sizing: border-box;
}

.mimi-p-detail .text-green {
    color: #26a08a;
}

.text-orange {
    color: #ea5916;
}

.mimi-p-info-block > span.title {
    width: 150px;
    height: 50px;
    background-color: #ea5916;
	border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
}

.sale-content-pad > span.title {
	width: 150px;
    height: 50px;
    background-color: #ea5916;
	border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
}

.mimi-p-info-block span.title + p {
    font-family: "NotoSansCJKkr-Light";
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
}

.mimi-p-info-block div.mimi-p-cards-group {
    margin-top: 20px;
    margin-left: -3px;
    margin-right: -3px;
    display: block;
}

.mimi-p-cards-group > div.mimi-p-card {
    display: block;
    width: 20%;
    padding-left: 3px;
    padding-right: 3px;
    float: left;
    box-sizing: border-box;
}

.mimi-p-card .mimi-p-card-image {
    border: 1px solid #e7e7e7;
    height: 235px;
    text-align: center;
    display: block;
    width: 100%;
}

.mimi-p-card .mimi-p-card-image > a {
    display: block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.mimi-p-card .mimi-p-card-image > a > img {
    max-width: 100%;
    max-height: 100%;
}

.mimi-p-card p {
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: NotoSansCJKkr-Regular;
    font-size: 16px;
    line-height: 20px;
}
.mimi-p-card span:not(.price) {
    display: block;
    font-size: 18px;
    line-height: 20px;
}
.mimi-p-card span.price {
    font-family: "NotoSansCJKkr-Regular";
    font-size: 28px;
}

.mimi-p-recent-info > div.left {
    width: 640px;
}

.mimi-p-recent-info > div.right {
    padding: 15px 0 0 60px;
    vertical-align: top;
}

.mimi-p-recent-info > div.left table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.mimi-p-recent-info > div.left table tr {
    height: 30px;
}
.mimi-p-recent-info > div.left table > thead > tr {
    height: 30px;
    border-bottom: 2px solid #ea5916;
}
.mimi-p-recent-info > div.left table th {
    font-family: "NotoSansCJKkr-Medium";
    font-size: 14px;
    color: #333;
    text-align: center;
}
.mimi-p-recent-info > div.left table td {
    font-family: "NotoSansCJKkr-Light";
    font-size: 14px;
    color: #333;
    text-align: center;
}

.mimi-p-recent-info > div.left table > tbody > tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.mimi-p-recent-info > div.left table > tbody > tr:nth-child(even) {
    background-color: #eaeaea;
}

.mimi-sell-history >  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.mimi-sell-history table tr {
    height: 30px;
}
.mimi-sell-history table > thead > tr {
    height: 30px;
    border-bottom: 2px solid #ea5916;
}
.mimi-sell-history table th {
    font-size: 18px;
    color: #333;
    text-align: center;
}
.mimi-sell-history table td {
    font-family: "NotoSansCJKkr-Light";
    font-size: 16px;
    color: #333;
    text-align: center;
}

.mimi-sell-history table > tbody > tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.mimi-sell-history table > tbody > tr:nth-child(even) {
    background-color: #eaeaea;
}

.mimi-p-recent-info > .right > span:first-child {
    font-family: "NotoSansCJKkr-Medium";
	font-size: 40px;
    /*background: url(../images/ic_clock.png) no-repeat 0 50%;*/
}

.mimi-p-recent-info .right h1 {
    font-size: 32px;
    margin: 0;
}
.mimi-p-recent-info .right h1:nth-of-type(odd):not(.text-orange) {
    font-family: "NotoSansCJKkr-Regular";
}
.mimi-p-recent-info .right h1:nth-of-type(even):not(.text-orange) {
    font-family: "NotoSansCJKkr-Light";
}
.mimi-p-recent-info .right h1.text-orange {
    font-size: 32px;
}
.mimi-p-recent-info .right p {
    margin: 0;
}
.mimi-chat-opt {
	margin-bottom: 10px;
}

.mimi-chat-opt > a {
    display: inline-block;
    font-family: "NotoSansCJKkr-Regular";
    font-size: 14px;
    color: #adadad;
    text-decoration: none;
    outline: none;
    margin: 10px;
}

.mimi-chat-opt > a.active {
    color: #333;
    border-bottom: 2px solid #ea5916;
}

.mimi-p-recent-info hr {
	margin: 20px 0;
}

.sale-content-pad{
    position: relative;
}

.login-content{
    text-align: center;
    top: 0;
    padding-top: 150px;
    padding-bottom: 350px;
    margin: auto;
    position: absolute;
    width: 500px;
}

.login-content-pad{
    width: 70% !important;
    margin: auto;
    border: 1px solid #ddd;
    padding: 20px 20px;
    background: white;
}

.product-content-btn {
    width: 100px;
    display: table;
    text-decoration:none;
    margin: auto;
    height: 30px;
    vertical-align: middle;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.mimi-popup-bg.popup-handbags-step > .mimi-popup {
    width: 800px;
}

.popup-header.black-header {
    color: white;
    background-color: #333333;
    line-height: 60px;
    font-family: 'NotoSansCJKkr-Medium';
    font-size: 24px;
    position: relative;
    padding-left: 25px;
}

.popup-handbags-step .btn-popup-close {
    position: absolute;
    right: 25px;
    top: 15px;
    width: 30px;
    height: 30px;
    background: url("../images/handbags/ic_popup_close.png") no-repeat center;
    background-size: contain;
}

.popup-handbags-step .mimi-popup .popup-body {
    position: relative;
    padding: 25px 20px;
}

.popup-handbags-step .mimi-popup .popup-footer {
    padding: 15px 0 30px 0;
    background-color: white;
    text-align: center;
}

.popup-handbags-step .btn-next-step {
    display: inline-block;
    border: 1px solid #333333;
    font-family: 'NotoSansCJKkr-DemiLight';
    color: black;
    width: 150px;
    line-height: 48px;
    text-align: center;
}

.popup-handbags-step .btn-next-step > span {
    padding-right: 26px;
    background: url("../images/handbags/btn_next_step.png") no-repeat right;
    background-size: 8px 18px;
}

.popup-handbags-step .btn-sale-cancel {
    display: inline-block;
    border: 1px solid #cccccc;
    background-color: #cccccc;
    font-family: 'NotoSansCJKkr-DemiLight';
    color: white;
    width: 150px;
    line-height: 48px;
    text-align: center;
    margin-left: 8px;
}

.popup-handbags-step .btn-sale-cancel > span {
    padding-right: 32px;
    background: url("../images/handbags/btn_sale_cancel.png") no-repeat right;
    background-size: 17px 17px;
}

.step-wizard {
    background-color: #f9f9f9;
    border: 1px solid #f0f0f0;
    display: flex;
    height: 100px;
}

.step-wizard > .step {
    width: 240px;
    font-family: 'NotoSansCJKkr-Medium';
    font-size: 24px;
    color: #939393;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.step-wizard > .step.active {
    color: #ff8106;
}

.step-wizard > .step > span {
    display: inline-block;
    line-height: 22px;
    padding-top: 30px;
    background: url("../images/handbags/ic_step.png") no-repeat top;
    background-size: 20px 20px;
}

.step-wizard > .step.active > span {
    background: url("../images/handbags/ic_step_active.png") no-repeat top;
    background-size: 20px 20px;
}

.step-wizard > .step-img {
    display: inline-block;
    width: 20px;
    background: url("../images/handbags/ic_next_step.png") no-repeat center;
    background-size: 16px 45px;
}

.step-wizard > .step-img.active {
    background: url("../images/handbags/ic_next_step.png") no-repeat center;
    background-size: 16px 45px;
}

.img-classA {
    position: absolute;
    top: 155px;
    right: 0;
}

label[for] {
    cursor: pointer;
}

.class-box {
    display: flex;
}

.class-table {
    border-collapse: collapse;
    flex-grow: 1;
}

.class-table th,
.class-table td {
    border: 1px solid #e3e3e3;
    height: 45px;
    font-family: 'NotoSansCJKkr-DemiLight';
    color: #333333;
}

.class-table th {
    background-color: #ff8106;
    color: white;
    font-size: 16px;
}

.class-table td.first {
    text-align: center;
    width: 120px;
    font-size: 16px;
}

.class-table td:not(.first) {
    padding: 0 10px 0 15px;
    font-size: 14px;
    letter-spacing: -0.5px;
}

.class-table td.gray {
    color: #afafaf;
}

.class-desc {
    width: 120px;
    flex-shrink: 0;
    padding-left: 10px;
    font-family: 'NotoSansCJKkr-Medium';
}

.class-desc img {
    vertical-align: middle;
    margin-right: 5px;
}

.popup-handbags-step * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-example-image {
    font-family: 'NotoSansCJKkr-DemiLight';
    width: 70px;
    line-height: 23px;
    text-align: center;
    float: right;
    display: inline-block;
    border: 1px solid #e3e3e3;
    color: #333333;
}

.color-primary {
    color: #ff8106;
}

.agree-label {
    font-family: 'NotoSansCJKkr-DemiLight';
    color: #8d8d8d;
    font-size: 15px;
    display: block;
    letter-spacing: -0.3px;
    line-height: 40px;
}

.step-title {
    font-size: 30px;
    color: #333333;
    font-family: 'NotoSansCJKkr-Bold';
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.step-desc {
    font-family: 'NotoSansCJKkr-DemiLight';
    font-size: 18px;
    color: #333333;
    line-height: 1.3;
    letter-spacing: -0.7px;
}

.class-guide {
    font-family: 'NotoSansCJKkr-Medium';
    font-size: 24px;
    color: #ff8106;
    margin-top: 20px;
    margin-bottom: 8px;
}

.class-guide > span {
    font-family: 'NotoSansCJKkr-DemiLight';
    font-size: 15px;
    color: #797979;
    margin-left: 10px;
}

.agree-box {
    margin-top: 12px;
}

body.off {
    overflow: hidden;
}

.popup-handbags-step input[type="checkbox"] {
    display: none;
}

.popup-handbags-step input[type="checkbox"] + i {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("../images/handbags/ic_radio_off.png") no-repeat center;
    background-size: 25px 25px;
    vertical-align: middle;
    margin-right: 5px;
    transition: 0.2s;
}

.popup-handbags-step input[type="checkbox"]:checked + i {
    background: url("../images/handbags/ic_radio_on.png") no-repeat center;
    background-size: 25px 25px;
}

.btn-slider-close {
    position: absolute;
    right: 0;
    top: -73px;
    width: 60px;
    height: 60px;
    background: url("../images/handbags/ic_slider_close.png") no-repeat center;
    background-size: 60px 60px;
}

.btn-slider-left {
    position: absolute;
    left: -80px;
    top: 50%;
    width: 104px;
    height: 182px;
    background: url("../images/handbags/img_slider_left.png") no-repeat center;
    background-size: 60px 123px;
    transform: translateY(-50%);
}

.btn-slider-right {
    position: absolute;
    right: -80px;
    top: 50%;
    width: 104px;
    height: 182px;
    background: url("../images/handbags/img_slider_right.png") no-repeat center;
    background-size: 60px 123px;
    transform: translateY(-50%);
}

.upload-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.upload-list li.upload-img {
    width: 130px;
    height: 130px;
    display: flex;
    border: 1px solid #e9e9e9;
    background: #f9f9f9;
    flex-shrink: 0;
}

.upload-list li {
    margin: 0 2px;
}

.upload-list li:first-child {
    margin-left: 4px;
}

.btn-upload-img {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-upload-img span {
    display: block;
    font-family: 'NotoSansCJKkr-Medium';
    font-size: 15px;
    color: #ff8106;
    background: url("../images/handbags/ic_upload_img.png") no-repeat top;
    background-size: 25px 25px;
    padding-top: 30px;
    margin-bottom: 10px;
}

.btn-remove-img.active {
    display: block;
}

.btn-remove-img {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background: url("../images/handbags/btn_sale_cancel.png") no-repeat center;
    background-size: 15px 15px;
}

.btn-product-img {
    font-family: 'NotoSansCJKkr-DemiLight';
    font-size: 14px;
    color: #333333;
    width: 80px;
    line-height: 28px;
    border: 1px solid #333333;
    text-align: center;
}

.btn-add-upload {
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 15px;
    color: white;
    background-color: #d2d2d2;
    width: 130px;
    flex-shrink: 0;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
}

.btn-add-upload > span {
    background: url("../images/handbags/ic_add_upload.png") no-repeat top;
    background-size: 28px 28px;
    padding-top: 50px;
}

.btn-scroll-right {
    display: inline-block;
    width: 55px;
    height: 130px;
    background: url("../images/handbags/ic_scroll_right.png") no-repeat center;
    color: transparent;
    border: 1px solid #e9e9e9;
}

.btn-scroll-left {
    display: inline-block;
    width: 55px;
    height: 130px;
    background: url("../images/handbags/ic_scroll_left.png") no-repeat center;
    color: transparent;
    border: 1px solid #e9e9e9;
}

.upload-img-desc {
    font-size: 12px;
    color: #6f6c6c;
    text-align: center;
    height: 30px;
    line-height: 15px;
}

.myrow {
    display: flex;
    margin-top: 15px;
    position: relative;
}

.special-matters {
    margin-top: 30px;
    font-family: 'NotoSansCJKkr-Medium';
    font-size: 20px;
    color: #333333;
    line-height: 50px;
}

.special-matters input {
    width: 580px;
    height: 50px;
    font-family: 'NotoSansCJKkr-DemiLight';
    font-size: 17px;
    color: #333333;
    border: 1px solid #dddddd;
    float: right;
    padding: 0 15px;
}

.popup-handbags-step input:focus {
    border: 1px solid #999999;
    outline: none;
}

.popup-product-img {
    position: absolute;
    width: 300px;
    height: 300px;
    text-align: center;
    background-color: white;
    border-radius: 9px;
    box-shadow: 0 0 15px rgba(40, 40, 40, 0.5);
}

.popup-product-img img {
    width: 290px;
    height: 230px;
    object-fit: contain;
    display: block;
    margin: 5px auto;
}

.popup-product-img label {
    font-family: 'NotoSansCJKkr-DemiLight';
    font-size: 18px;
    color: #333333;
    display: block;
    line-height: 55px;
}

.product-img {
    object-fit: contain;
    border: 1px solid #e2e2e2;
}

.table-handbags {
    margin-top: -10px;
    border-spacing: 0;
    width: 100%;
}

.table-handbags td {
    font-family: 'NotoSansCJKkr-Medium';
    font-size: 18px;
    color: #333333;
    padding: 7px 0;
    text-align: right;
    letter-spacing: -0.5px;
}

.table-handbags td * {
    letter-spacing: -0.5px;
}

.table-handbags tr td:first-child {
    text-align: left;
}

.tr-border-top td {
    border-top: 1px solid #e2e2e2;
    padding-top: 14px;
}

.tr-border-bottom td {
    padding-bottom: 14px;
}

.handbags-sale-price {
    padding: 0 14px;
    border: 1px solid #e2e2e2;
    width: 190px;
    height: 50px;
    font-family: 'NotoSansCJKkr-DemiLight';
    font-size: 16px;
    color: #333333;
    float:left;
}

.btn-apply-price {
    display: inline-block;
    width: 100px;
    line-height: 50px;
    height: 50px;
    font-family: 'NotoSansCJKkr-DemiLight';
    font-size: 20px;
    color: white;
    background-color: #ff8106;
    text-align: center;
    float:left;
}

.handbags-period-desc {
    font-family: 'NotoSansCJKkr-DemiLight';
    font-size: 14px;
    color: #808080;
    margin-top: -8px;
    margin-bottom: 0;
    text-align: right;
}

.handbags-period-desc span {
    color: #ff8106;
}

.btn-instance-sale {
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 14px;
    color: white;
    background-color: #333333;
    display: inline-block;
    width: 120px;
    line-height: 35px;
    height: 35px;
    text-align: center;
}

.table-handbags td.handbags-fees {
    font-family: 'NotoSansCJKkr-DemiLight';
    font-size: 15px;
    color: #878787;
}

.table-handbags td.handbags-calc-price {
    font-family: 'NotoSansCJKkr-Medium';
    font-size: 24px;
    color: #ff8106;
}

.input-select-list {
    position: relative;
    display: inline-block;
    text-align: left;
}

.handbags-sale-period {
    width: 175px;
    height: 50px;
}

.input-select-list ul {
    display: none;
    position: absolute;
    left: 1px;
    right: 1px;
    top: 51px;
    padding: 0;
    margin: 0;
    list-style: none;
    box-shadow: 1px 1px 1px 1px #adadad;
    background: #fff;
    max-height: 150px;
    overflow-y: auto;
    z-index: 300;
}

.input-select-list ul li {
    cursor: pointer;
    font-size: 14px;
    line-height: 40px;
    padding-left: 14px;
    font-family: 'NotoSansCJKkr-DemiLight';
}

.input-select-list ul li:hover {
    background-color: #eeeeee;
}

.input-select-list ul li.active {
    color: #ea5916;
}

.input-select {
    font-family: 'NotoSansCJKkr-DemiLight';
    font-size: 15px;
    color: #333333;
    background: url("../images/handbags/ic_dropdown.png") no-repeat right 14px center;
    background-size: 20px 8px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding-left: 14px;
    padding-right: 34px;
    border: 1px solid #e2e2e2;
}
.maxmin-price {
    color: #ff8106;
}
